[2021-05-08 16:16] Arnie0426 opened #7 "Cuda 11.0 support for Merlin Images as the current image doesn't work on AWS P3s"
Hi, I am a huge fan of Merlin and a lot of what you all are doing here!

I tried to pull the newest Merlin image to use cudf on an AWS P3 instance, and it seems like the image requires cuda 11.2 and above, something that is not available on AWS P3 instances (at least out of the box).

![image](https://user-images.githubusercontent.com/10529313/117546128-d28cad00-afdd-11eb-8d74-29f981ea112a.png)

I

[2021-05-13 19:17] jperez999 commented on #7
Hello @Arnie0426, can you give us a little more information about the particular AMI you were using and your instance settings (storage amount, instance type). This will help us recreate the issue. Currently, using the Deep Learning AMI available from Amazon with a P3 instance, we are able to successfully run the merlin container on AWS.

[2021-05-14 02:54] Arnie0426 commented on #7
Hi @jperez999, I was trying to use the 1.18-v20210125 AMI on P3.8xlarge instances. Are there certain AMIs not supported by Merlin?

[2021-05-17 18:37] jperez999 commented on #7
@Arnie0426
So I have been trying to repro you case, been having a hard time. When I try to create an instance on AWS with the AMI 1.18-v20210125, I see three options:

amazon-eks-node-1.18-v20210125 - ami-0b9bf042ba04abfa6
amazon-eks-gpu-node-1.18-v20210125 - ami-0f9f34596af53c9b8
amazon-eks-arm64-node-1.18-v20210125 - ami-0fb66d99b073e5c27

Are any of these the ones you used? (the one I tested, "

[2021-05-18 04:01] Arnie0426 commented on #7
Other docker images work fine, and yes, I am using the eks-gpu-node-1.18.

Would you also be able to tell me which AMI you used when you were able to successfully run the merlin container? Was it the newest one?

[2021-06-17 22:37] benfred commented on #7
@Arnie0426 did installing nvidia-docker resolve the issue for you?

[2021-08-06 17:48] benfred opened #27 "gevent on merlin containers doesn't work with cudf"
importing the 'gevent' library on the merlin containers causes issues like https://github.com/rapidsai/cudf/issues/7496 . We should recompile gevent from source, or install from conda instead of pypi to work around this.

[2021-08-06 17:48] benfred commented on #27
see also https://github.com/NVIDIA/NVTabular/issues/1011

[2021-09-21 01:39] #27 closed

[2021-09-30 21:25] fatemeh9264 opened #55 "concept drift"
Hi
How do you manage concept drift detection in your projct?I do not understand it...

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-839

[2021-10-13 21:37] Talhaz opened #56 "How to use with Image Data is there any example notebook?"

[2021-10-23 03:57] Arnie0426 opened #57 "Docker images don't work if $HOME gets set to a different path"
Hi all,

We noticed a small issue where if you have a small docker image like this:
[code]

nvtabular and many other libraries can't be imported.
<img width="396" alt="image" src="https://user-images.githubusercontent.com/10529313/138541619-91c04ad1-a6aa-4141-8f28-e8270b1ee3ca.png">

And the reasoning seems to be because we are installing nvtabular in the user's $HOME here: https://github.com/NVID

[2021-11-03 17:20] mengdong opened #62 "[BUG] remove `--user` from Dockerfile in both inference and training"
In current NGC containers some pythons packages are installed with a --user option for the root user.
In managed notebooks, containers are run as in the context of the jupyter user, which means that some packages fail to run.

This will prevent run Merlin docker as other user generally as well.  @sohn21c

[2021-11-05 22:39] benfred commented on #62
The ```--user``` flag has also caused problems like https://github.com/NVIDIA-Merlin/Merlin/issues/57 . I think we should remove if possible.

[2021-11-08 17:37] albert17 commented on #62
@mengdong Created PR #64 to address this problem. We cannot refresh 21.11 container, but the nightly containers will have this change when merged.

[2021-11-08 17:55] albert17 opened #65 "Merlin Inference Container Build"
Currently getting an error when building inference in internal CI system because of nvml.
[code]

HugeCTR put a fix in internal repo. Need to check that it works and modify CI process.

[2021-11-11 07:26] ng-fukgin opened #66 "gaierror: [Errno -2] Name or service not known"
When i run 04a-Triton-Inference-with-TF.ipynb on local computer （without docker），i meet some error in  _triton_client.is_server_live()_ ，there is the error

"
 ---------------------------------------------------------------------------
Empty                                     Traceback (most recent call last)
~/anaconda3/envs/merlin/lib/python3.7/site-packages/geventhttpclient/connectionpool.py i

[2021-11-11 12:44] gaceladri opened #67 "Possible typo?"
https://github.com/NVIDIA-Merlin/Merlin/blob/5e870d7078232bdd895c349cef4f118d1f4ad73d/docker/dockerfile.torch#L45

Hi, is it possible that here we have a duplicated pip install?

Thanks!

[2021-11-11 16:35] benfred commented on #66
Can you verify that the tritonserver process is running on your local machine - and that it started up successfully?

[2021-11-11 16:52] gaceladri commented on #67
No, if it makes sense for you, it is right. I though **that pip install pip install repeated two times** was an error. Closing if it makes sense to you. :+1:

[2021-11-11 16:54] gaceladri commented on #67
I think that you dont noticed that your repeating pip install two times... This is what pip install two times does, it installs "install" and not scikit-learn
[code]

[2021-11-11 16:56] benfred commented on #67
Oh you're right! Sorry I misread your initial comment

[2021-11-11 16:58] #67 closed

[2021-11-11 16:59] benfred commented on #67
Thanks for pointing this out! I have a fix in #68 - (I was thinking you were saying we 'pip install' gevent twice, rather than we had pip install twice in the that line 🤦 )

[2021-11-11 17:00] gaceladri commented on #67
A small typo in the ocean :) keep doing the great work :) :+1:

[2021-11-11 17:01] #57 closed

[2021-11-11 17:01] #62 closed

[2021-11-12 05:18] ng-fukgin commented on #66
Thanks,it is useful for me

[2021-11-12 05:18] #66 closed

[2021-11-15 08:58] ng-fukgin opened #71 "InferenceServerException: explicit model load / unload is not allowed if polling is enabled"
Hello everybody! When I run the follow code from [04a-Triton-Inference-with-TF.ipynb](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/scaling-criteo/04a-Triton-Inference-with-TF.ipynb)

[code]
There is a error
[code]
By the way the available models in the repositories:
[code]
[code]
How should do to solve the problem?

[2021-11-15 17:34] benfred commented on #65
Fixed by hugectr team

[2021-11-15 17:34] #65 closed

[2021-11-15 18:36] esnvidia opened #72 "[FEA] Dockerfile working for NVTabular >=0.7.1 and Rapids 21.10"
The current dockerfile only installs NVTabular and cuDF, but this limits available end-use cases, such as cuML, cuGraph and so on.

pseudocode for a clean Dockerfile:

[code]

Note, no requirement for HugeCTR, or Triton.

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-837

[2021-11-22 05:15] ng-fukgin opened #74 "timeout: timed out"
Hi ,sir.when i run the follow code from [ 04-Triton-Inference-with-TF.ipynb](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/scaling-criteo/04-Triton-Inference-with-TF.ipynb)
[code]

There are some error

[code]
And when i run thi code
`triton_client.get_model_repository_index()`
The output is
[code]

[2021-11-22 09:06] ng-fukgin commented on #71
When i start the tritonserver  and **set model-control-mode** to **explicit**.It is all right now .

[2021-11-22 09:06] #71 closed

[2021-11-24 01:02] ng-fukgin commented on #74
when i change **triton_client.load_model(model_name="criteo")** to triton_client.load_model(model_name="criteo_tf"),everything is OK

[2021-11-30 16:18] albert17 opened #75 "Containers using DLFW and tritonserver 21.11"

[2021-12-05 17:45] #75 closed

[2021-12-09 17:46] exzine commented on #72
will there be a merlin come with cuml been released anytime soon? I have tried to build cuml from source inside the merlin container, not very successful.

[2021-12-14 16:39] albert17 opened #81 "Add inference Integration Testing in Blossom"

[2021-12-14 16:40] albert17 opened #82 "Add performance regression for integration tests"

[2021-12-14 16:40] albert17 opened #83 "Add ci containers build to blossom"

[2021-12-21 02:11] albert17 commented on #83
Done

[2021-12-21 02:11] #83 closed

[2022-01-07 18:13] esnvidia commented on #72
@exzine - @bschifferer or @albert17 may know the answer to this. I made the feature request for that purpose

[2022-01-10 17:48] viswa-nvidia opened #87 "Create release notes"

[2022-01-10 17:48] viswa-nvidia commented on #87
@karlhigley
@gabrielspmoreira
Please take a look

[2022-01-10 17:54] gabrielspmoreira commented on #87
@viswa-nvidia @benfred Looking at the commits on Transformers4Rec after the last tagged version [v0.1.3](https://github.com/NVIDIA-Merlin/Transformers4Rec/tree/v0.1.3) (released by Dec 7, 2021), it seems we only had CI add and no new feature implemented.

[2022-01-10 20:45] mengdong opened #88 "Merlin 21.12 NGC release broke extended forward compatibility on older NVIDIA drivers"
If user invoke a command without calling bash in Docker, the forward compatibility is broken. If user invoke a command with bash, the forward compatibility works as expected.

observed with T4/A100 on driver 450.119.04

[code]

[2022-01-19 05:24] sohn21c opened #90 "Merlin inference container size too big"
Merlin inference container size, when built per https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/dockerfile.tri, is ~20GB which is big where some cloud services require container size to be limited under 10 or 15GB. A potential resolution could be to create inference containers for different framework using tf2, pyt triton base image instead of triton-py3 that contains all of backends i.e.

[2022-01-19 19:27] albert17 commented on #88
@mengdong Try now
[code]

[2022-01-24 15:58] kmcmearty commented on #90
@sohn21c Which cloud provider did you try this on?
Looks like Azure is 15 GB like you mentioned.

[2022-01-28 22:35] cliffwoolley commented on #88
@mengdong - it's actually the ENTRYPOINT change rather than the SHELL change that has an impact here.  As a workaround for 21.12, you can just add this to your `docker run` arguments: `--entrypoint /opt/nvidia/nvidia_entrypoint.sh`

[2022-01-28 23:31] albert17 commented on #88
@cliffwoolley Correct, It was the ENTRYPOINT what changed. Initially I tried SHELL, but it didn't have any effect, I didn't added it back since it didn't seem like adding any value. Any comments about SHELL?

[2022-01-29 04:10] cliffwoolley commented on #88
@albert17 You do not need to set SHELL, no.  We already set it for you in the base image.

[2022-01-31 17:26] albert17 opened #97 "Hadoop"
Can we get hadoop downloaded/uncompress/cleaned only once?

It happens twice:
1. https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/dockerfile.tri#L49

2. https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/dockerfile.tri#L225

[2022-02-01 22:13] #87 closed

[2022-02-07 07:47] jershi425 commented on #97
Hi @albert17, I don't see how Hadoop is downloaded/uncompress/cleaned more than once. Can you explain how L49 is related to Hadoop?

[2022-02-08 19:30] sohn21c commented on #90
@kmcmearty GCP

[2022-02-09 20:10] rnyak commented on #90
@albert17 @jperez999  for viz.

[2022-02-09 22:59] EvenOldridge opened #99 "[RMP] Embedding-based Retrieval Models (TF)"
We want to support classic 2-stage recommender systems.  To enable that we need retrieval models across the merlin ecosystem.  Add support for training and serving retrieval models and examples that demonstrate how to build them and connect them in a 2-stage system.  This is a precursor for 4-stage recommenders which are one of the goals of Merlin.

Depends on #102

# Models ( Data Scientist )

##

[2022-02-10 00:22] albert17 commented on #90
@kmcmearty @sohn21c Working on fixing this. Created a PR

[2022-02-14 16:53] albert17 opened #101 "CI container include everythin"
Update CI container to contain everything based on Julio's draft

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-832

[2022-02-16 18:38] viswa-nvidia commented on #99
@rnyak , could you check on User/Item tower model export. Do you ahve a ticket going for this ?

[2022-02-17 05:29] viswa-nvidia opened #102 "[RMP] Triton Serving Ensemble API"
# Models
- [x] https://github.com/NVIDIA-Merlin/models/issues/177
- [x] https://github.com/NVIDIA-Merlin/models/issues/178
- [x] https://github.com/NVIDIA-Merlin/models/issues/179

# NVTabular
- [x] https://github.com/NVIDIA-Merlin/NVTabular/pull/1391

# Systems
- [x] Create merlin-system library
- [x] #121
- [x] Set up CI for this repo
  - [x] https://github.com/NVIDIA-Merlin/systems/issues/39

[2022-02-17 05:46] viswa-nvidia opened #103 "[RMP] Merlin-core: schemas, standardization, namespace"
# Merlin-core

- [x] NVIDIA-Merlin/core#19
- [x] Copy graph, io, dispatch, worker, and utils package from NVTabular
- [x] https://github.com/NVIDIA-Merlin/core/pull/22
- [x] NVIDIA-Merlin/core#18
- [x] Publish an initial release to PyPI/conda

# Merlin-models

- [x] Update merlin-models to use the schema classes from merlin-core
    - https://github.com/NVIDIA-Merlin/models/pull/184
- [x] NVIDIA-M

[2022-02-17 05:53] viswa-nvidia opened #104 "[RMP] Simple ML/CF Models (Ben)"
# Merlin-models(Data Scientist)
wrap Implicit and lightFM in High-level model API

# NVTabular(Data Scientist)
Operators for batch prediction with these models

# Merlin-systems(Product Engineer)
Implicit and LightFM ensemble API

# Merlin-orchestration(Infra Engineer)
N/A

# Examples and Docs(Everyone)
Example of training and serving models with these frameworks

[2022-02-17 05:54] viswa-nvidia opened #105 "[RMP] Support Tree Ranking Models (like XGBoost) in Merlin Models and Systems"
## Problem

Gradient-boosted decision trees (GBDTs) are commonly used in the industry as part of the scoring phase of recommender systems. Supporting serving of these models and integrating with the Merlin ecosystem will help facilitate usage of these models in these systems.

The Triton Inference Server has a [backend called FIL (Forest Inference Library)](https://github.com/triton-inference-serv

[2022-02-17 05:55] viswa-nvidia opened #106 "[RMP] Session based recommenders"
# Merlin-models(Data Scientist)
update merlin-models to leverage transformers4rec

# NVTabular(Data Scientist)
Session based ops for feature engineering.

# Merlin-systems(Product Engineer)

# Merlin-orchestration(Infra Engineer)

# Examples and Docs(Everyone)

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-827

[2022-02-17 05:56] viswa-nvidia opened #107 "[RMP] Larger than GPU memory embedding tables"
# Merlin-models(Data Scientist)
GPU Embedding cache and parameter server integration

# NVTabular(Data Scientist)

# Merlin-systems(Product Engineer)
GPU Embedding cache and parameter server integration

# Merlin-orchestration(Infra Engineer)

# Examples and Docs(Everyone)

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-826

[2022-02-17 05:58] viswa-nvidia opened #108 "[RMP] Filter out previously interacted items"
# Merlin-models(Data Scientist)
Integrated filtering?

# NVTabular(Data Scientist)

# Merlin-systems(Product Engineer)
Operators for applying filters during serving/batch

# Merlin-orchestration(Infra Engineer)
Build Bloom filters

# Examples and Docs(Everyone)

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-825

[2022-02-17 05:58] viswa-nvidia opened #109 "[RMP] Feature Store updating"
# Merlin-models(Data Scientist)

# NVTabular(Data Scientist)
Streaming based NVT ops

# Merlin-systems(Product Engineer)
Feature store access

# Merlin-orchestration(Infra Engineer)
Feature store update mechanism

# Examples and Docs(Everyone)

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-824

[2022-02-17 05:59] viswa-nvidia commented on #104
@benfred , please add the tickets related to this epic here

[2022-02-17 21:02] karlhigley commented on #108
We should probably consider this part of #102, since it doesn't matter if we have an ensemble API if we don't also have the essential building blocks to put in an ensemble

[2022-02-17 21:03] karlhigley commented on #109
This one is probably a farther future issue, once we start tackling MLops more seriously

[2022-02-18 20:13] viswa-nvidia opened #110 "[RMP] Deep Ranking Models (TF)"
# Models ( Data Scientist )
[[RMP] Ranking - TF : Wide and Deep, DLRM, DeepFM](https://github.com/NVIDIA-Merlin/models/issues/48)

- [x] https://github.com/NVIDIA-Merlin/models/issues/235
- [ ] https://github.com/NVIDIA-Merlin/models/issues/154
- [ ] YouTube DNN
     - https://github.com/NVIDIA-Merlin/models/issues/204
     Note: YoutubeDNN is both a ranking and retrieval model
- [ ] Note: Check w

[2022-02-18 20:55] karlhigley opened #111 "[RMP] Documentation for 1.0"
# Merlin:
- [x] NVIDIA-Merlin/Merlin#145
- [x] NVIDIA-Merlin/Merlin#130
- [x] https://github.com/NVIDIA-Merlin/Merlin/pull/174

# Core:
- [x] Set up automated docs builds

# Models:
- [x] NVIDIA-Merlin/models#285
- [x]  Set up automated doc builds
  - [x] https://github.com/NVIDIA-Merlin/models/pull/229
  - [x] https://github.com/NVIDIA-Merlin/models/pull/174)

# NVTabular:
- [ ] README revisions?

[2022-02-18 21:01] viswa-nvidia commented on #105
@benfred , could you map your XGboost tickets here ?

[2022-02-18 21:14] karlhigley opened #112 "[RMP] Container size reduction"
- https://github.com/NVIDIA-Merlin/Merlin/issues/90
- https://github.com/NVIDIA-Merlin/Merlin/pull/100
-

- [x] Reporting size per component
- [x] - Trying Tritonserver smaller base images: tf/pyt
- [x] - (NO NEED) Rapids from internal image (Note: This is not preferred. This may hamper customers who build their own conatiners)
- [x] - (NO NEED) HugeCTR dependencies as optional (Needs product appr

[2022-02-21 22:42] albert17 opened #113 "Add NGC Release notes"

[2022-02-22 17:37] benfred opened #114 "Update packages in merlin-models to use merlin namespace (if they don't already)"

[2022-02-22 17:39] benfred opened #115 "Update the examples to import everything from `merlin`"

[2022-02-22 19:55] albert17 opened #116 "Fix S3 Error"

[2022-02-22 20:21] albert17 commented on #112
Done:
- Minimized System Packages
- Minimized Python Packages
- Minimized Dependencies

Doing/To-DO:
- Reporting size per component
- Trying Tritonserver smaller base images: tf/pyt
- Rapids from internal image
- HugeCTR dependencies as optional

[2022-02-22 21:59] karlhigley opened #117 "Set up automated docs builds for `merlin-core` w/ Sphinx"

[2022-02-22 22:08] karlhigley opened #118 "Publish a release to PyPI/conda"

[2022-02-22 23:03] albert17 commented on #112
Component | Size (GB) | Size increase (GB)
-- | -- | --
Base | 12.4 |  0
System Packages | 12.7 | 0.3
Python Packages | 13.7 | 1
Cmake | 14 | 0.3
spdlog | 14 | 0
Arrow | 14.3 | 0.3
rmm | 14.3 | 0
cuDF | 14.9 | 0.6
Merlin Core | 14.9 | 0
Merlin NVTabular | 15 | 0.1
Merlin Transformers4Rec | 15.1 | 0.1
Merlin Models | 15.1 | 0
Merlin NVTabular Triton Backend | 15.1 | 0
Hiredis | 15.1 | 0
redis++ | 1

[2022-02-22 23:19] EvenOldridge commented on #102
@viswa-nvidia can you start a swipat for Merlin systems.

[2022-02-23 02:01] albert17 commented on #112
Created 2 new images
- merlin-inference-tf: 12.6 GB
- merlin-inference-pyt: 13.4 GB

[2022-02-23 18:45] #90 closed

[2022-02-25 18:16] viswa-nvidia commented on #112
@albert17 , please check off the completed items at the top of this ticket in the to do . Is there anything blocking for 22.03 ?

[2022-02-25 18:19] viswa-nvidia opened #120 "Turn the end-to-end POC into a Triton ensemble example (22.04)"

[2022-02-25 18:21] viswa-nvidia commented on #120
@EvenOldridge @benfred , who should be the PIC for this ?

[2022-02-25 18:23] viswa-nvidia opened #121 "SWIPAT approval for Systems library"

[2022-02-25 19:43] EvenOldridge commented on #99
@marcromeyn @sararb What's the status of this:

Do we need a ticket for this functionality?

[2022-02-25 19:44] EvenOldridge commented on #99
@sararb @marcromeyn @rnyak @bschifferer We need to start planning out the examples for using Merlin Models in conjunction with the end to end serving POC.

[2022-02-25 19:48] mikemckiernan commented on #111
PR https://github.com/NVIDIA-Merlin/models/pull/193 is meant to encompass https://github.com/NVIDIA-Merlin/models/issues/192

[2022-02-25 20:02] albert17 commented on #112
Completed. We have now 3 inference containers

[2022-02-25 20:02] #112 closed

[2022-02-25 22:00] viswa-nvidia commented on #112
👍

[2022-02-25 22:07] mikemckiernan commented on #115
@benfred , does this change apply to all repositories in the NVIDIA-Merlin organization?  If yes, does the change go live in the `main` branch immediately or does it need to wait until the next release?

[2022-02-25 22:13] sararb commented on #99
I am not sure if I fully understand what you mean about ` Item tower model forward pass ` but this [PR]( https://github.com/NVIDIA-Merlin/models/pull/145) defined the methods to export the query/item embeddings dataset by applying query/item towers to a dataset of interactions, and it was already merged. This is a [unit test ](
https://github.com/NVIDIA-Merlin/models/blob/c0df6db16180d696400e7fab9

[2022-02-26 00:17] karlhigley commented on #112
🎉

[2022-02-26 00:25] karlhigley commented on #99
@sararb I think that's an artifact of a discussion we had about whether `merlin-models` or `nvtabular` would be responsible for exporting large batches of item vectors.

@EvenOldridge @viswa-nvidia I think we can drop that item, since it turns out to be a duplicate.

[2022-02-26 00:29] karlhigley commented on #115
I think it should be okay to create a PR that updates the example notebooks, since AFAIK `merlin-core`, `merlin-models`, and `nvtabular` are all now exporting their contents under the `merlin` namespace. We might want to wait to merge it until closer to the next release to keep the examples runnable on the previous release though.

(`nvtabular` is currently `merlin.transform`, which is potentially

[2022-02-28 15:29] viswa-nvidia commented on #110
@sararb update the tickets for youtube dnn retrieval and ranking to this ticket

[2022-02-28 15:32] viswa-nvidia commented on #110
@sararb ,please link your research frame work tickets and mark them. Thanks

[2022-02-28 16:18] sararb commented on #110
- Youtube-DNN is a two-stage recommender model with two architectures for retrieval and ranking steps.
- This closed [PR](https://github.com/NVIDIA-Merlin/models/pull/152) implemented the retrieval architecture in merlin-models.
- The ranking architecture is not implemented yet, and I have just linked this ticket to the corresponding issue.

[2022-02-28 23:43] mengdong opened #125 "[BUG] Cannot load a exported deepfm model with NGC 22.03 inference container"
run into following errors
[code]

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-818

[2022-03-01 18:45] jperez999 opened #205 "[RMP] Set up unit tests for Merlin example notebooks"
# All
- [x] #222
- [x] https://github.com/NVIDIA-Merlin/Merlin/issues/219

# Merlin Models

- [x] #226

# Merlin Systems

- [x] #225

# Merlin

- [x] #224

[2022-03-01 18:57] jperez999 opened #896 "Report additional metrics to asvdb from integration tests"
For the example notebooks in NVTabular that are run as integration tests:

- [ ] The metrics for asvdb that should be captured:
  - [x] Training Time
  - [x] Max AUC (where possible)
  - [ ] validation loss (otherwise)
  - [x] Container Sizes
- [x] must be human readable
- [x] must be simple to understand

Source for the list of metrics: https://docs.google.com/document/d/19wktqCbcR8II0TLMIFckwbCu

[2022-03-03 18:06] Arnie0426 opened #126 "Should ucx-py be pre-installed as a part of the merlin containers?"
Given that p3 instances and other AWS instances have NVLink and with ucx being the preferred protocol for the CUDACluster, I feel that ucx-py should probably be a part of the docker containers. Users wouldn't have to deal with having to install in their own dockerfiles then.

[2022-03-05 04:32] IamGianluca opened #127 "merlin-core not installed in latest merlin-inference images"
Hi,

I'm a big fan of your work (papers/code/tutorials)! Congrats!

I'm going through the tutorials in the `transformers4rec` repo and encountered this issue when trying to load any pre-trained ensembled model (nvtabular + pytorch).

[code]

It seems that the `merlin-core` library is not installed. I've also tried to open a python interpreter in the docker container and import some of the librarie

[2022-03-07 00:25] rnyak commented on #127
@IamGianluca thanks for reporting. we will update the notebooks eventually. You can install Merlin core via:

[code]

[2022-03-07 00:29] rnyak commented on #125
@mengdong  What functions are you using  to generate config files?  NVTabular `export_tensorflow_ensemble` ? Is this a TF or PyT model?  Can you remove `max_batch_size` and try again?

Besides, I guess this is more like a question for Triton  GH repo..

[2022-03-07 17:51] viswa-nvidia opened #128 "[RMP] Performance evaluation and improvement of ranking models"
team members have to create example notebooks for this. start with this first.

[2022-03-07 17:54] viswa-nvidia opened #129 "Performance measurement of Triton ensembles"

[2022-03-07 18:50] karlhigley commented on #111
I've added some check boxes for other docs related work I think is in scope (some of which I'm on the hook for, and some of which we'll want to figure out how to handle.)

[2022-03-07 18:51] karlhigley opened #130 "Revise high-level docs for the new Merlin ecosystem (beyond NVT)"

[2022-03-07 21:27] karlhigley opened #131 "[RMP] Bug bashes for v1.0"
- [ ] Docstrings Bash
- [Review document](https://docs.google.com/document/d/1NobZnbTtY7ZaiDvcmJJtut0X20U4bezLaJE5ZycLZgE/edit#)
  - [x] Systems
    - [x] https://github.com/NVIDIA-Merlin/systems/issues/72
    - [x] https://github.com/NVIDIA-Merlin/systems/pull/34
    - [x] https://github.com/NVIDIA-Merlin/systems/issues/33
    - [x] https://github.com/NVIDIA-Merlin/systems/issues/3
    - [x] http

[2022-03-07 23:44] rnyak commented on #126
Thanks @Arnie0426 for reporting that. @albert17 can you look into that?

[2022-03-08 14:21] IamGianluca commented on #127
That worked, thanks @rnyak

[2022-03-08 14:21] #127 closed

[2022-03-09 03:14] IamGianluca opened #134 "[QST] Triton complains about extra columns in the workflow output"
Hi,

I'm trying to reproduce some of the notebooks but the `tritonserver` is complaining about extra columns in the workflow's output. I'm confused about the error, as those as the columns outputted by the `nvtabular` workflow which I'm then using to train the sequential recommendation engine.

[code]

Do you have any idea what might be causing the issue?

I'm using triton from the Docker image `n

[2022-03-09 19:37] EvenOldridge opened #136 "Update our build process to use a config file specifying library versions"
In order for there to be an artifact that captures per release versions we need to reorganize our build process so that it's scripted.

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-812

[2022-03-09 19:53] EvenOldridge opened #137 "Create a template for new library creation that includes the common components required"
Checklist of things required:

- [ ] docstrings preview
- [ ] CI setup
- [ ] ...

[2022-03-09 20:56] albert17 opened #138 "Merlin inference Pytorch Numpy error"
[code]

[2022-03-09 20:57] albert17 opened #139 "Merlin Inference Pytorch Numba"
[code]

[2022-03-09 20:59] rnyak commented on #139
This error occurs if we upgrade the Numpy version to the latest to make it work with Pytorch. This is connected to the https://github.com/NVIDIA-Merlin/Merlin/issues/138

[2022-03-09 21:21] albert17 opened #140 "Container software version"
Create a script to gather container software versions

[2022-03-10 12:04] leiterenato opened #142 "[BUG and QUESTION] Merlin inference container 22.03 from NGC not working"
**BUG**

There is no `tritonserver` installed on this container (merlin-inference:22.03): https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-inference.
[code]
To reproduce this error, just start a new merlin-inference container (22.03) and try to invoke the tritonserver.
How should I invoke `tritonserver` with this new container?

**QUESTION**
I am trying to load an ensemble

[2022-03-10 19:40] karlhigley opened #143 "[RMP] End-to-end example for v1.0"

[2022-03-10 19:54] viswa-nvidia commented on #120
https://github.com/NVIDIA-Merlin/Merlin/issues/143 duplicates. this issue.

[2022-03-10 20:02] viswa-nvidia commented on #104
@EvenOldridge @benfred , is Batch prediction in NVTabular section required for 22.04 ?

[2022-03-10 20:05] karlhigley opened #144 "Set up automated docstring coverage checks"
- [x] Core - https://github.com/NVIDIA-Merlin/core/pull/34
- [x] Models - https://github.com/NVIDIA-Merlin/models/pull/257
- [x] NVTabular - https://github.com/NVIDIA-Merlin/NVTabular/issues/1454
- [x] Systems - https://github.com/NVIDIA-Merlin/systems/pull/34

[2022-03-10 20:05] viswa-nvidia commented on #111
@EvenOldridge  @benfred , do we need to revise the readme for NVTabular ?

[2022-03-10 20:08] viswa-nvidia commented on #111
@EvenOldridge , @benfred @karlhigley @mikemckiernan - in NVTabular readme - There are some un related items in the readme such as container build process for other repos. Should this be cleaned ? There is documentaiton regarding examples for other repos. Should this be moved ?

[2022-03-10 20:09] viswa-nvidia opened #145 "Identify standard high-level Merlin README headings"

[2022-03-10 20:19] rnyak commented on #142
@leiterenato thanks for reporting the issue. we are currently looking into that issue.

@albert17 fyi.

[2022-03-10 21:03] albert17 commented on #142
Hi @leiterenato

This issue has been identified. Working on it: https://github.com/NVIDIA-Merlin/Merlin/pull/135

Will provide an updated nightly container today or tomorrow with latest changes included.

Sorry for the problems.

[2022-03-10 21:04] albert17 commented on #125
@mengdong still having this problem in 22.03?

[2022-03-10 21:52] leiterenato commented on #142
Thank you!

[2022-03-11 00:48] viswa-nvidia opened #148 "Wide and Deep"

[2022-03-11 00:48] viswa-nvidia opened #149 "DeepFM"

[2022-03-14 15:08] viswa-nvidia commented on #148
Dupllicate of https://github.com/NVIDIA-Merlin/models/issues/154

[2022-03-14 15:59] karlhigley commented on #129
Duplicate of https://github.com/NVIDIA-Merlin/systems/issues/8

[2022-03-14 15:59] #129 closed

[2022-03-14 16:55] karlhigley opened #150 "Implicit and LightFM ensemble API (22.05)"

[2022-03-14 21:21] viswa-nvidia commented on #125
Two issues - HugeCTR has resolved it . NVTabular model - type error - our plan is to laod the model in the latest container and check if the problem persists

[2022-03-14 21:48] benfred commented on #116
Fixed by https://github.com/NVIDIA-Merlin/core/pull/37

[2022-03-14 21:48] #116 closed

[2022-03-15 17:55] karlhigley commented on #137
I think we could use either a Github repo template, or [cookiecutter](https://cookiecutter.readthedocs.io/en/1.7.2/) for this. Have used both, don't have a strong preference. Github repo template might be easier for people to use though.

[2022-03-15 17:56] karlhigley commented on #137
This is my personal Github repo template for Python packages: https://github.com/karlhigley/py-pkg-template

(Not saying we should use this, just sharing as an example of how they look)

[2022-03-15 18:38] benfred commented on #121
@viswa-nvidia @karlhigley Can we close this?

[2022-03-15 18:39] benfred opened #152 "Add merlin-systems to the containers"
We've created the merlin-systems repo - and we should include this code inside all of our containers

[2022-03-15 21:36] albert17 commented on #152
Adding them to all training and inference

[2022-03-15 21:37] albert17 commented on #152
@benfred  Also:

Do we want transformers4 rec in training?

See current state of softwares installed: https://github.com/NVIDIA-Merlin/Merlin/pull/141

And let me know if anything should change

[2022-03-15 22:04] karlhigley opened #153 "Standardize pre-commit hooks across Merlin libraries"

[2022-03-16 22:12] albert17 commented on #142
Nightly container updated. Please try @leiterenato
[code]

[2022-03-16 22:16] leiterenato commented on #142
Thanks @albert17.
I will try and post the result here.

[2022-03-16 22:29] #140 closed

[2022-03-17 01:42] #138 closed

[2022-03-17 01:42] #139 closed

[2022-03-17 01:42] #142 closed

[2022-03-17 01:42] #152 closed

[2022-03-17 02:03] albert17 commented on #126
@Arnie0426 In which containers did you find this missing?

[2022-03-17 13:53] leiterenato commented on #142
@albert17
I am receiving this error:
"tritonserver: error while loading shared libraries: libdcgm.so.2: cannot open shared object file: No such file or directory"

Is there a way to export a variable in my Dockerfile to solve this?

[2022-03-17 23:36] albert17 commented on #142
@leiterenato I have updated dockerfile and containers.

Try again with `nvcr.io/nvidia/merlin/merlin-inference:nightly` or `nvcr.io/nvidia/merlin/merlin-inference:22.03`

This should not happen anymorre

[2022-03-17 23:37] albert17 commented on #142
[code]

[2022-03-18 00:42] mengdong commented on #125
Yes, I was able to replicate the error in 22.03

[2022-03-18 00:43] mengdong commented on #125
we use export hugectr ensemble, it appears the hugectr model loads fine

[2022-03-18 01:57] karlhigley commented on #125
This looks to me like an issue with loading information about the NVTabular workflow from the Triton config, and in particular with parsing the `data_type` field from the config [on these lines](https://github.com/NVIDIA-Merlin/NVTabular/blob/main/nvtabular/inference/triton/workflow_model.py#L89-L91). Could you share the workflow and exported Triton config (here or on Slack) or a minimal repro so

[2022-03-18 06:35] mengdong commented on #125
I have shared the exported model (including Triton config) on Slack, the repro is a bit complicated, let me know if you still need it.

[2022-03-18 16:43] karlhigley opened #155 "Add deprecation warnings to packages that have moved to `merlin-core`"

[2022-03-18 17:23] #144 closed

[2022-03-21 15:31] viswa-nvidia opened #156 "Update Models README for 22.04"

[2022-03-21 16:56] karlhigley commented on #99
We've checked everything here and examples have moved to a separate epic, so this is complete.

[2022-03-21 16:56] #99 closed

[2022-03-22 00:14] karlhigley commented on #134
I think this may be related to https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/378, which outlines some updates that need to be made in the example notebooks. Will take another look once that gets addressed if there are further problems.

[2022-03-22 23:17] karlhigley commented on #125
We just merged a fix for the issue that was occurring when trying to load the NVT workflow in Triton. I think there's another issue here though, which is that some configuration properties moved out of the DeepFM model's `config.pbtxt` (for Triton) and into a separate `ps.json` file (for parameter server configuration.) That file is missing in the ensemble provided for debugging, which is preventi

[2022-03-23 04:05] viswa-nvidia opened #157 "Test issue for 22.04"
- [ ] Update 1

Aha! Link: https://nvaiinfa.aha.io/features/MERLIN-840

[2022-03-23 04:45] viswa-nvidia commented on #157
Test comment

[2022-03-24 05:55] gxiskobe opened #158 "Unsuppoerted .version 7.6; current version is '7.4'"
![4e75f901bb917d0c511b053a0d7a71d](https://user-images.githubusercontent.com/26139391/159851274-2d7cb0fb-7550-4c16-9c29-c271a0f5617c.png)

workflow = nvt.Workflow(feas,client=client)
train_dataset = nvt.Dataset(train_paths, engine ="parquet", part_size="128M")
workflow.fit(train_dataset)

Merlin 22.03

[2022-03-24 06:07] #158 closed

[2022-03-24 06:09] gxiskobe opened #159 "[BUG] Unsupported .version 7.6; current version is '7.4'"
workflow = nvt.Workflow(features, client=client)
train_dataset = nvt.Dataset(train_paths[0], engine ="parquet", part_size="256M")
workflow.fit(train_dataset)

Traceback:
[code]

Environment details (please complete the following information):

Environment location: Docker

- Method of NVTabular install: Docker
- using nvcr.io/nvidia/merlin/merlin-training:22.03

[2022-03-24 11:07] WonderingWJ opened #160 "[BUG] cudf---User defined functions are currently not supported on Series"
The code is as below:
[code]

In docker image `nvcr.io/nvidia/merlin/merlin-training:22.03`,  we will run into the error message `TypeError: User defined functions are currently not supported on Series with dtypes str and category`.
But in docker image  `nvcr.io/nvidia/merlin/merlin-training:21.12`, the code can be successfully run.

[2022-03-24 18:33] karlhigley commented on #134
Resolved by https://github.com/NVIDIA-Merlin/Transformers4Rec/pull/388

[2022-03-25 09:00] yingcanw commented on #125
Since HugeCTR backend has added more new features in the past few release, I suggest that you can manually create a ps.json file. For details, please refer to https://github.com/triton-inference-server/hugectr_backend#independent-inference-hierarchical-parameter-server-configuration

[2022-03-25 16:20] benfred commented on #159
This looks to be the same as https://github.com/numba/numba/issues/7006  What does `numba -s` show ? Also do the resolution in that issue (https://github.com/numba/numba/issues/7006#issuecomment-1018245359) solve for you?

[2022-03-25 17:23] mengdong commented on #125
Thanks, hugectr is not a issue for this bug. I have manually created ps.json and it worked.

[2022-03-25 21:16] mattf opened #161 "[BUG] hugectr not available in merlin-inference and merlin-tensorflow-training"
merlin-inference -

[code]

merlin-tensorflow-training -

[code]

[2022-03-25 21:24] mattf opened #162 "[BUG] getting-started-movielens use of local disk in unintended ways"
https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/getting-started-movielens/03-Training-with-HugeCTR.ipynb

[code]
this code does not `rm -r .../model/movielens_hugectr` and create `.../model/movielens_hugectr/1`. it removes `MODEL_DIR` and creates `MODEL_DIR`, `+`, and `1`.

code to achieve the intended outcome is more like the following (`-p` needed because of nesting)
[code]

this erro

[2022-03-25 21:27] mattf opened #163 "[BUG] LambdaOp must be explicit"
https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/getting-started-movielens/02-ETL-with-NVTabular.ipynb

[code]
this code will result in an exception when trying to call `create_node` on a `function`

a fix is to explicitly use `LambdaOp`-
[code]

a better fix would be to type detect the function and wrap it with a LambdaOp

[2022-03-25 22:01] karlhigley commented on #163
I believe the functionality to allow unwrapped lambdas was intentionally deprecated and removed in order to support multiple types of graphs and nodes. It looks like the examples in the Merlin repo haven't been updated in a while though; the version of the same notebook in the NVTabular repo does use an explicit `LamdaOp`. Seems like the path forward here to might be to migrate the examples from t

[2022-03-25 22:06] karlhigley commented on #161
I think HugeCTR should be available in the `merlin-training` and `merlin-inference` containers, and should not be available in the `merlin-tensorflow-training` container. Is that right, @albert17?

[2022-03-25 22:11] karlhigley commented on #125
I'm going to track that part of the issue [here](https://github.com/NVIDIA-Merlin/NVTabular/issues/1470) and close this one, but I don't think a Triton ensemble creation process that requires our customers to manually create a config file and place it in the exported Triton model repo directory is very user friendly. 😕

[2022-03-25 22:44] EvenOldridge commented on #125
@yingcanw @zehuanw @jconwayNV I'm with @karlhigley on this.  We need to move away from manually creating json files as a part of our config.

[2022-03-25 23:38] yingcanw commented on #125
@karlhigley @EvenOldridge @zehuanw The ps.json was added manually just to verify that wether the issue was caused by missing key parameters in ps.json. I remember that ps.json was always generated manually in nvt&hugectr ensamble mode before，regardless of whether triton was generated automatically. If I understand this correctly, you can just add the logic to generate ps.json automatically here
ht

[2022-03-26 11:25] mattf opened #164 "[BUG] download phase of movielens example fails on cpu-only system"
https://github.com/NVIDIA-Merlin/Merlin/blob/9802eaef0515729146b7b50fd1e737b745d44525/examples/getting-started-movielens/01-Download-Convert.ipynb

[code]

on a cpu-only system, `ratings` is already a pandas dataframe and `ratings.to_pandas` doesn't exist.

[2022-03-26 11:31] mattf commented on #161
https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/README.md (as of https://github.com/NVIDIA-Merlin/Merlin/commit/fa1b8c4b84b00c78cc6b1a7dcd59a93694e5ecb0) says `-training`, `-tensorflow-training`, and `-inference`

![image](https://user-images.githubusercontent.com/112653/160237372-c93762de-7963-4f90-966d-6cfe790dd150.png)

i can only confirm it is in `-training`

[2022-03-26 11:37] mattf commented on #163
it looks like https://github.com/NVIDIA-Merlin/Merlin/tree/main/examples/getting-started-movielens is stale compared to https://github.com/NVIDIA-Merlin/NVTabular/tree/main/examples/getting-started-movielens

if you ask me, i'll say to move the NVTabular version over to the Merlin repository. it's more discoverable and natural.

[2022-03-26 11:43] mattf opened #165 "[BUG] getting-started-movielens example is broken and out of date"
the example exists in two places -

1. https://github.com/NVIDIA-Merlin/Merlin/tree/main/examples/getting-started-movielens
2. https://github.com/NVIDIA-Merlin/NVTabular/tree/main/examples/getting-started-movielens

the Merlin version is out of date. it does not function without modification.

this is confusing to users and given the broken nature of the easily discoverable version (Merlin's) a si

[2022-03-26 11:44] mattf commented on #162
i'm happy to after https://github.com/NVIDIA-Merlin/Merlin/issues/165 is resolved

[2022-03-26 17:40] karlhigley commented on #161
I think what that's trying to say is "HugeCTR Tensorflow Embedding plugin," which doesn't actually mean that HugeCTR itself is available there, if I understand correctly. Maybe we can clarify this though?

cc @mikemckiernan @albert17

[2022-03-28 12:58] mattf commented on #161
if that's the intention of the documentation, it should be clarified. the line break is unfortunate too.

this would leave the issue that HugeCTR is not available in there `-inference` container

[2022-03-28 14:09] mattf opened #168 "[BUG] inconsistent pandas versions between merlin-training and merlin-inference containers"
[code]
workflow loading fails when workflow created by 1.4.1 and loaded from 1.2.5

[code]

[2022-03-28 18:46] karlhigley commented on #161
The second part is a duplicate of https://github.com/NVIDIA-Merlin/Merlin/issues/142, which has been addressed in the nightly images (see https://github.com/NVIDIA-Merlin/Merlin/pull/135.)

[2022-03-28 19:04] mattf commented on #161
[code]
is this an issue where "HugeCTR" in the `merlin-inference` container really means "HugeCTR Tensorflow Embedding plugin"

[2022-03-28 20:10] karlhigley commented on #161
I don't think that's expected to work on the inference container; what it has is the [Triton Inference Server HugeCTR Back-end](https://github.com/triton-inference-server/hugectr_backend) for serving. (Correct me if I'm wrong here, @albert17.)

[2022-03-28 20:34] karlhigley commented on #160
@albert17 This sounds like it might be a version or dependency with the containers. Could you take a look when you get a chance?

[2022-03-28 21:18] karlhigley opened #170 "Update the top level Merlin image to include new libraries"
This is the existing image:

https://developer.nvidia.com/sites/default/files/akamai/merlin/recommender-systems-dev-web-850.svg

[2022-03-29 15:37] mengdong commented on #125
I would keep this bug open as NVtabular still has error when loading the model.

[2022-03-29 18:02] viswa-nvidia commented on #125
bug's marked done but SA wasn't able to verify the fix that was merged to main. couple of items here
nightly container w/ fix is unavailable. Alberto said CI's broken. We need to know where we are at
SA pip reinstall the main branch after fix was merged for testing but wasn't able to verify the fix. need Karl's comment on how fix can be verified, or whether it needs more work to resolve the issue

[2022-03-29 20:51] EvenOldridge commented on #125
Can you give the version you're having this issue with please @mengdong and clarify what issue you're having.  You'd previously posted:

What worked?  And what do you expect to work now that doesn't that you're flagging in this issue?

[2022-03-29 21:10] mengdong commented on #125
Initially, the bug contains 2 errors, 1 on hugectr, 1 on nvtabular.

With manually created ps.json, hugectr model worked. NVtabular error still withstand with latest NVtabular pip installation.

Per the current description of the bug, the error message shows:
[code]

The environment I reproduce the bug is: nightly Merlin inference container (which I reinstall nvtabular from TOT of main branch)

[2022-03-30 14:38] karlhigley opened #171 "Support feature crossing (somehow)"
Open for discussion which library should support this

[2022-03-30 15:45] #120 closed

[2022-03-30 22:34] viswa-nvidia opened #172 "Give a talk on Systems POC to Triton team"
To be shared during Merlin Triton sync on 4/28/2022

[2022-03-30 23:07] mikemckiernan commented on #145
Karl kindly merged the boilerplate README to the template project.

[2022-03-30 23:07] #145 closed

[2022-03-31 12:41] #130 closed

[2022-03-31 17:11] #157 closed

[2022-03-31 17:50] #163 closed

[2022-03-31 17:50] #164 closed

[2022-03-31 17:50] #165 closed

[2022-03-31 17:52] viswa-nvidia commented on #160
@karlhigley , is this a blocker ?

[2022-03-31 18:30] albert17 commented on #168
I have never experiment an error like this. Could you provide more details?

[2022-03-31 18:31] karlhigley commented on #125
@mengdong Did you re-run the existing export with the new version of NVTabular or re-export the ensemble with the new version? You'll have to re-export the ensemble with the latest NVTabular to see a difference, since updating NVT doesn't change the code in exported Python models. If you've done that and it's still not working, let me know.

[2022-03-31 18:34] viswa-nvidia commented on #115
This affects all the examples

[2022-03-31 20:57] mengdong commented on #125
Here is what I have done:
1, reinstall nvtabular in 22.03 NGC merlin training container, export the ensemble model
2, reinstall nvtabular in 22.03 NGC merlin nightly inference container, run Triton to serve the model.

Error message
[code]

[2022-03-31 21:03] mengdong commented on #125
If I omit a few latest commit, and checkout the snapshot with your fix `git checkout 4196e6a4323738a798fbd5e84e81ea1b53fc05ae`

I0331 21:02:14.652909 684 server.cc:549]
+---------+---------------------------------------------------------+-----------------------------------------------+
| Backend | Path                                                    | Config

[2022-04-01 14:56] jperez999 commented on #168
IMO we need to downgrade inference container to pandas==1.2.5 and check to see if we hit any errors with any packages that rely on pandas and pass the tests.

[2022-04-01 15:22] #102 closed

[2022-04-01 16:27] karlhigley commented on #115
Having made an attempt, I don't think is actually reasonable to do without some rework to the text of the NVT examples, which is out of scope for this release. However, I will open a PR that updates the exports in `merlin.transforms` to smooth the path for doing this in a future release.

[2022-04-01 16:27] #115 closed

[2022-04-01 16:27] #103 closed

[2022-04-01 16:48] karlhigley opened #177 "Move Support Matrix Under Merlin Github Repo From NVT (22.04)"

[2022-04-01 18:54] viswa-nvidia commented on #168
Not a blocker for 22.04 https://nvidia.slack.com/archives/C02NY7RHJUA/p1648790281185299

[2022-04-01 19:54] karlhigley commented on #125
Using the ensemble provided in `merlin-ensemble.zip`, I am able to replicate the error reported above with the latest version of NVTabular from the `main` branch. If I replace `triton-ensemble-20220317011121/deepfm_nvt/1/model.py` with `nvtabular/inference/triton/workflow_model.py` (which is what should be included in a re-export), I am able to successfully load the `deepfm_nvt` model without enco

[2022-04-01 22:34] benfred commented on #159
@gxiskobe - let me know if this is still an issue

[2022-04-01 22:34] #159 closed

[2022-04-01 22:47] benfred opened #179 "Add Merlin repo to containers"
We should have the example notebooks contained in the NVIDIA-Merlin/Merlin repo on our containers

[2022-04-01 22:51] viswa-nvidia commented on #160
This will need help from the cudf team

[2022-04-01 23:35] viswa-nvidia opened #180 "v1.0 examples Bash"
[Review Document](https://docs.google.com/document/d/1jwR8EfoXf6D4R3Tq2w-3-mhHsNqbUXqJkM4zmUs9nx0/edit#)
 ## Merlin POC
 ### XL/Large Impact:
- [ ] Missing preprocessing script for Alibaba dataset
- [ ] Feast materlize takes 25min
- [ ] Where is the code to pre-process the dataset?
- [ ] The pre-processed dataset appears to be 1.6GB
- [ ] Without an automated way to get the input data the example

[2022-04-01 23:36] viswa-nvidia opened #181 "Merlin POC - Saving the item embeddings exhausts all available GPU memory on an 11GB GPU"

[2022-04-05 16:57] karlhigley opened #185 "[RMP] RecSys Paper Submission"

[2022-04-05 22:16] albert17 opened #187 "Provide Testing Report"
Provide high level testing report for @viswa-nvidia

@EvenOldridge @benfred What else would you like me to add?

[2022-04-05 23:56] albert17 commented on #179
It was added here: https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/training/dockerfile.ctr#L79

[2022-04-05 23:56] #179 closed

[2022-04-06 00:50] #168 closed

[2022-04-06 16:11] bschifferer opened #189 "[BUG] Errors when importing SOK and Data loader"
I am not able to import Merlin Dataloader + SOK in TensorFlow. Either order (first SOK -> Dataloader OR Dataloder -> SOK) throws an error (see thread).

Importing sok and then data loader
[code]

[code]

Importing Dataloader and then SOK

[code]

[code]

[2022-04-07 12:48] bschifferer commented on #189
The HugeCTR team proposed that it could be related to having multiple GPUs and not using MirrorStrategies. They shared an example:

[code]

[2022-04-07 20:22] viswa-nvidia opened #197 "Resolve vulnerabilities in security scan"
Internal pulse scans were failing with critical vulnerabilities:

Merlin Training
Internal Scan: [https://blossom.nvidia.com/sw-gpu-merlin-ci/job/scan-merlin/113/console](https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fblossom.nvidia.com%2Fsw-gpu-merlin-ci%2Fjob%2Fscan-merlin%2F113%2Fconsole&data=04%7C01%7Cviswanathans%40nvidia.com%7C1d544edae80e48e4922d08da18c15d47%7C43083d15727

[2022-04-09 10:42] mattf opened #199 "[QUESTION] why is cmake included under /workspace in the merlin/merlin-training containers?"

[2022-04-11 17:01] benfred opened #202 "[RMP] Automate and improve build/release processes for conda and Docker"
### 22.05

Release process:
- [x] Increase time window between DLFW release and merlin release. Need ~2 weeks after DLFW release, pushing release to 2nd tuesday of the month.

CI builds:
- [x] Fix issues with HugeCTR HDFS install scripts
- [x] Fix issues with `distributed-embeddings` tests
- [x] Resolve version conflicts in the Merlin libraries
- [ ] https://github.com/NVIDIA-Merlin/Merlin/issues/

[2022-04-12 18:02] karlhigley opened #203 "Set up Github Actions for PR-level testing"

[2022-04-12 19:11] karlhigley opened #204 "[RMP] HugeCTR compatiblity improvements"

[2022-04-12 19:59] rjzamora commented on #160
@WonderingWJ - Ideally this issue would be filed in cudf, rather than Merlin. However, we can probably get to the bottom of this pretty fast (and ping the relevant cudf devs for help if not) if you can provide [a full minimal reproducer](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).  It seems likely that your problem has to do with some change in the interaction between cud

[2022-04-14 15:20] karlhigley opened #209 "Update the Merlin examples to use a shared Docker volume"

[2022-04-14 15:21] karlhigley opened #210 "Update the end-to-end example notebook to use `run_triton_server`/`send_triton_request`"

[2022-04-14 15:34] karlhigley opened #211 "[RMP] Support pre-trained vector embeddings as input features into a model via the dataloader"
[code]
## Problem:
Customers need a way to load embeddings that have been pretrained or trained from separate models into the model.
See https://github.com/NVIDIA-Merlin/Merlin/issues/471

## Goal:
Enable dataloading of separate embedding tables without having to add these embeddings into the interaction data during training.  For serving those embeddings need to be provided in the request to the

[2022-04-14 17:17] mikemckiernan commented on #209
Keeping some notes as I step through the process:

* I think in models/example/04... we need the foll change:
[code]

[2022-04-14 17:37] mikemckiernan commented on #209
For the systems example, if we're considering being prescriptive about the paths, then maybe change from:

[code]
to
[code]
and indicate to specify a different path if you stepped off the happy path earlier.

[2022-04-14 21:58] karlhigley opened #212 "Add example notebooks as integration tests with Testbook"

[2022-04-14 21:58] karlhigley opened #213 "Add example notebooks as integration tests with Testbook"

[2022-04-14 21:58] karlhigley opened #214 "Add Merlin example notebooks as integration tests with real data"

[2022-04-15 00:02] rnyak opened #216 "Update Merlin Systems inference example and Merlin PoC example to be worked in TF-TR container"
Currently, in order to make the inference example notebooks in the Merlin repo and Merlin Systems repo work we need to install Tensorflow in the inf container, However this is not the expected practice, since installing TF in the inference container will make its size bigger.

In order to avoid TF get installed in the inference container:

- [x] we need to fix the `ModuleNotFoundError: No module n

[2022-04-15 15:13] karlhigley commented on #216
Seems like a good idea! A few comments:

- @mikemckiernan is working on updating the examples to use a shared Docker volume (called `merlin-examples` or something like that), which should make sharing files between multiple containers easier. See https://github.com/NVIDIA-Merlin/Merlin/issues/209
- I'm not sure if the training container needs S3 support, and including it in the build process for A

[2022-04-16 16:29] rnyak commented on #216
@karlhigley thanks for the comments. We can talk offline about the design of splitting notebooks and steps into two nbs (one will be run in the tf-tr the other one will be run in tf-inf container) but my concerns are:
-  `PredictTensorflow()` requires TF. So  the operators in creating Ensemble graph should be run in TF-training, other wise we had to install TF in the TF-inf container (meaning goin

[2022-04-17 15:02] karlhigley commented on #216
Yeah, that makes sense. Let's try adding S3 support and see what that does to the training container size.

[2022-04-17 15:30] karlhigley commented on #216
It looks like we can do it and still sneak in under the 15GB cap:

REPOSITORY | TAG | IMAGE ID | CREATED | SIZE
-|-|-|-|-
nvcr.io/nvidia/merlin/merlin-tensorflow-training | arrow-s3 | 4bc70b8f0130 | 11 seconds ago | 14.6GB
nvcr.io/nvidia/merlin/merlin-tensorflow-training | 22.04 | 8a9d8ddb1aa1 | 10 days ago | 14.3GB

I'll open a PR and we can get some second (or third?) opinions.

[2022-04-18 17:15] mikemckiernan opened #218 "Simplify and enhance using examples in documentation"
The naive approach in 22.04 for repurposing the example notebooks was to copy the examples directory into the Sphinx source directory and build.  This simple approach was OK for some repositories and not OK for many.

The major downside for examples directories that have subdirectories, is that we needed to use README.rst with toctree directives or the notebooks were orphaned from the navigation.

[2022-04-19 17:53] EvenOldridge opened #219 "Link notebooks to containers in a way that makes it clear which container a given notebook will run on."
Provide a consistent way for notebooks to specify which container the notebook is intended to be run on.

- [ ] A customer facing reference that's human readable.
- [ ]  Provide method to extract this (container) information from the notebook, so that it can be used by the NGC one button launch to select the appropriate container.

[2022-04-19 17:55] karlhigley commented on #131
@viswa-nvidia Are there additional outstanding issues from these release bashes we should track here in order to know when we can close this issue?

[2022-04-20 20:07] karlhigley opened #222 "Create matrix that shows what notebooks can run on which containers."

[2022-04-20 20:08] karlhigley commented on #222
Matrix here: https://docs.google.com/document/d/118pKNWH-VScEWlwYR6Ilhqu-W76lahQBrfV6DsfdEEA/edit?usp=sharing

[2022-04-20 20:28] #222 closed

[2022-04-20 20:31] karlhigley opened #223 "Figure out a consistent way of capturing results from the new examples in ASV"

[2022-04-20 20:43] karlhigley opened #224 "Create Merlin notebook unit tests with Testbook and synthetic data"

[2022-04-20 20:43] karlhigley opened #225 "Create Merlin-Systems notebook unit tests with Testbook and synthetic data"

[2022-04-20 20:43] karlhigley opened #226 "Create Merlin-Models notebook unit tests with testbook"
### PRs

- [x] https://github.com/NVIDIA-Merlin/models/pull/377
- [x] https://github.com/NVIDIA-Merlin/models/issues/359

### Notebooks
- [x] [01-Getting-started.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/01-Getting-started.ipynb)
- [x] [02-Merlin-Models-and-NVTabular-integration.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/02-Merlin-Models-and-NVTabular

[2022-04-20 20:51] jperez999 opened #227 "Use multi-stage builds to create our containers"
Create two containers one that builds all the assets and a second clean container. Then copy all binaries from container where builds occurred to fresh container. COPY ONLY BUILD binaries, This will ensure the smallest docker container size.
- [ ] Create container that builds all artifacts (start from tritonserver container)
- [ ] Create clean base container
- [ ] Copy binaries from build containe

[2022-04-21 00:19] rnyak commented on #214
@karlhigley do we add integration tests for 22.05 release? or for 22.06?

[2022-04-21 11:47] phoebenv opened #228 "performance of pre-processing hugectr request of nvt python backend needs improvement"
When doing inference with triton, pre-processing hugectr request of nvt python backend performance is poor. Can you please improve it?

[2022-04-21 16:31] EvenOldridge opened #229 "Establish a consistent memory allocation strategy for Tensorflow Memory"
Currently memory allocation for TF in our examples in inconsistent and causes issues.

- [ ] Update NVTabular TF examples
- [ ] Update Merlin models config_tensorflow() function

Let's figure out best practices and make it consistent.

[2022-04-21 18:11] karlhigley opened #230 "Make it possible to run example notebooks with one-click launcher"

[2022-04-21 22:51] rnyak commented on #210
This is blocked by the issue https://github.com/NVIDIA-Merlin/systems/issues/87

[2022-04-22 16:59] bschifferer commented on #125
I tested the Criteo HugeCTR Inference Example and it worked for me

[2022-04-25 08:27] bschifferer opened #232 "[Task] Benchmark synthetic data (tiny)"
We identified multiple dataset/model architectures which are representative for many workflows. We want to benchmark/analyze throughput performance for many different tools/implementations.

ToDos:
- [ ] Update SOK implementation for synthetic benchmarks

Details:
HugeCTR team shared information how to improve workflows with SOK

[2022-04-25 08:29] bschifferer opened #233 "[Task] Add criteo examples in GSW runtime to collect different metrices"
GSW provides tools to automatically run and collect metadata of runs on NGC jobs. We want to add the criteo examples for daily runs.

ToDo:
- [ ] Add NVTabular processing
- [ ] Add TensorFlow training
- [ ] Add PyTorch training
- [ ] Add HugeCTR training

[2022-04-25 16:50] EvenOldridge opened #235 "Decide what metrics to capture to ASV for merlin-models notebooks"

[2022-04-25 16:50] EvenOldridge opened #236 "Decide what metrics to capture to ASV for merlin-systems notebooks"

[2022-04-25 16:50] EvenOldridge opened #237 "Decide what metrics to capture to ASV for merlin notebooks"

[2022-04-25 16:52] EvenOldridge opened #238 "Report metrics to asvdb from the notebooks"

[2022-04-25 16:52] EvenOldridge opened #239 "Report metrics to asvdb from the notebooks"

[2022-04-25 16:52] EvenOldridge opened #240 "Report metrics to asvdb from the notebooks"

[2022-04-26 08:57] bschifferer commented on #205
Migrate the NVT example notebook unit tests to use [Testbook](https://github.com/nteract/testbook)

@EvenOldridge @rnyak @mikemckiernan Radek and me talked yesterday, if we need to restructure/move the NVTabular examples. The NVTabular example contains components, which are not relevant anymore (training, deployment). I am not sure, if it make sense to migrate the unittests to testbook, now. I thi

[2022-04-26 18:09] karlhigley opened #241 "Create new pipelines for Docker container builds"
- [x] #388

[2022-04-26 18:39] EvenOldridge opened #242 "create conda packages for merlin-models"

[2022-04-26 18:41] EvenOldridge opened #243 "create conda packages for merlin-systems"

[2022-04-26 18:47] EvenOldridge commented on #235
@bschifferer can you please review the notebooks and share what the standard outputs for these notebooks are.  Can we standardize all of the notebooks to a singe set of metrics?  If not what are the differences?

[2022-04-26 18:50] EvenOldridge commented on #236
Let's review the existing notebooks to figure out what metrics.

[2022-04-26 18:57] EvenOldridge commented on #212
On real data, not synthetic

[2022-04-26 18:57] EvenOldridge commented on #213
On real data, not synthetic

[2022-04-26 18:57] EvenOldridge commented on #214
On real data, not synthetic

[2022-04-26 19:48] #227 closed

[2022-04-27 09:29] bschifferer commented on #229
I think we discussed that TensorFlow 2.8 will set `cuda_malloc_async` by default.

@rnyak shared, if we remove `os.environ["TF_GPU_ALLOCATOR"]="cuda_malloc_async"`, that TensorFlow2.8 will consume the full GPU memory.

I reproduced the behavior in our merlin-tensorflow-training:22.04 container.
- Set nothing: 30/40GB
- Set cuda_malloc_async: 0.5/40GB
- Set TF_MEMORY_ALLOCATION=0.5: 38/40GB
- Use c

[2022-04-27 16:33] bschifferer commented on #229
Let's test 2.7 if `cuda_malloc_async` works

[2022-04-27 16:50] jperez999 commented on #229
rename to allocate_tensorflow_memory
add kw `type=dynamic | fixed | None`
    if default None it will use best based on tf version
    if fixed force use of tf_memory_allocation
    if dynamic try to use cuda-malloc-async if tf version => 2.8.0

[2022-04-28 14:28] bschifferer commented on #229
Tensorflow 2.6 behavior (21.12 container)

Set nothing: 31/32GB
Set cuda_malloc_async: 0.5/32GB
Set TF_MEMORY_ALLOCATION=0.5: 31/32GB
Use configure_tensorflow: is not availble in the docker container

[2022-04-28 14:44] bschifferer commented on #229
Tensorflow 2.7 behavior (22.02 container)

Set nothing: 31/32GB
Set cuda_malloc_async: 31/32GB
Set TF_MEMORY_ALLOCATION=0.5: 31/32GB
Use configure_tensorflow: is not availble in the docker container

[2022-04-28 14:45] bschifferer commented on #229
@rnyak @jperez999 I am not sure, how we should continue with the TensorFlow allocation logic :) . I do not understand, why it works for 2.6 and it does not work for 2.7?

[2022-04-28 14:51] rnyak commented on #229
@bschifferer can we add the details in a README about TF memory allocation behaviors wrt different TF versions and in the example nbs we just say something like `this nb was developed with TF 2.8 ... and for TF 2.6 and 2.7 versions please visit README and learn tips about tf memory allocation` what do you think?

[2022-04-28 14:52] bschifferer commented on #229
Yes, we can do it. But I wonder, why cuda_malloc_async works for TF2.6 but it does not work for TF2.7?

[2022-04-28 15:57] jperez999 opened #248 "Nightly Containers Blocked on Numba/Numpy/Dask/Distributed version conflicts"
We are getting collisions that stem from numba. The latest release of numba==0.55.1 and unfortunately that is pinned to numpy 1.21. On the nightly, they are using numpy 1.22, so we hit collisions trying to install our merlin source. They manifest as the following:
[code]
We need to decide the priority on updating these packages, if we move to numpy 1.22 and the latest dask we hit our normal errors

[2022-04-28 16:07] karlhigley commented on #248
Are the issue with `.get()` fixable?

[2022-04-28 17:05] jperez999 commented on #248
I think they come from within dask and its access api. I am not sure, would require further investigation. @rjzamora do you know about these compatibility errors?

I am think I am just try to change == for dask and distributed to >=, thoughts?

[2022-04-28 17:53] rnyak commented on #225
we can do the following to create this unit test:
- we replace run_ensemble_on_tritonserver in the PoC nb and let user launch the TIS in the terminal and use send_triton_request to send request and get the response back (done)
- we modify run_ensemble_on_tritonserver () to use send_triton_request() func (Done)
- in the testbook unit test, we replace this cell with run_ensemble_on_tritonserver  (ho

[2022-04-28 18:01] rjzamora commented on #248
Is there an issue related to this? (or any related discussion on github). Sorry - My memory is failing me.

[2022-04-28 21:53] viswa-nvidia commented on #125
@mengdong , can we close this issue ? @sohn21c for viz.

[2022-04-28 22:10] mengdong commented on #125
yes please

On Thu, Apr 28, 2022 at 14:53 viswa-nvidia ***@***.***> wrote:

[2022-04-28 22:37] #125 closed

[2022-04-29 08:45] bschifferer opened #250 "[RMP] Potential New Examples and Example Tasks"
This is a list of new example ideas and other example tasks, which are not all prioritized. If some are prioritized, we can slice them out into a smaller tickets + individual tickets per example/task.

Tasks:
- Standardize usage of tf memory allocation (+ add disclaimer)
- Add metadata which container to use for each example
- Cleaning NVTabular examples
- Use testbook for all notebook unit tests

[2022-04-29 13:51] #226 closed

[2022-05-02 17:30] karlhigley commented on #105
@marcromeyn Re-assigned this to you for the time being since it sounds like you'll be working with our new hire on both the Models and Systems sides. Once he's in our GH org, might make him the lead on this though?

[2022-05-02 17:37] #128 closed

[2022-05-02 17:38] karlhigley commented on #128
Will be folded into the scope of #346

[2022-05-02 17:46] karlhigley opened #253 "[RMP] Rework the older Merlin example notebooks to use other Merlin libraries"
# NVTabular

_**Note**: The scope of this is TBD and to be discussed in upcoming meetings_

Currently, nvtabular holds all integration tests. These tests are supposed to evaluate integration of NVTabular with the merlin components and target frameworks (i.e. Tensorflow, Torch). Updates need to be made to meet this requirement.

- [x] Integrate Merlin Models into the example notebooks
- [x] Integra

[2022-05-02 17:47] karlhigley commented on #253
Excerpted from #205, which is specifically focused on improving testing

[2022-05-02 18:07] jperez999 commented on #253
we should also decide what to migrate to other repos and what to remove all together.

[2022-05-02 18:36] karlhigley commented on #253
Another related issue (potentially as follow-up work to this) is that we'd like to remove the dataloaders and framework utils from NVTabular since they've moved to Merlin Models, but the current example notebooks rely heavily on both the NVT dataloaders and framework utils. (So does the `bench` directory, for that matter.)

[2022-05-02 21:45] karlhigley opened #255 "[RMP] Provide PyTorch serving support for T4R models in Torchscript"
## Problem:

Users should be able to serve pytorch models that were produced with Transformers4Rec or any other process using a Systems ensemble. This will work towards supporting Session-based models as well as expanding System's support for a new modeling framework.

## Goal:

Systems should be able to serve all pytorch models that are currently supported by Triton.

## Definition of Done
Have a

[2022-05-02 21:45] karlhigley opened #256 "[RMP] HugeCTR support (models, feature transforms, serving)"
## Problem:
A clear description of the problem and how it impacts the customer experience of Merlin users.  Why is this important?  Why/Should we prioritize this work?  Note that this is problem singular.  Please try to ensure that we're trying to solve one problem and not many.

## Goal:
- What are the goals of this work.
- This can also include anti-goals of what this work does not include.
- Id

[2022-05-02 23:10] #160 closed

[2022-05-03 07:32] bschifferer commented on #253
thanks for splitting. I think we need one first ToDo - "Decide where current NVTabular examples will stay" & "Decide which NVTabular examples should be migrated to Merlin Models & Merlin Systems"

[2022-05-03 07:36] bschifferer commented on #219
@jperez999 @karlhigley can we start working on this ticket? My last information was that we wanted to wait for the new unified container (training + inference per container).

[2022-05-03 08:02] bschifferer commented on #229
I rerun the test with native installed TensorFlow:

TF2.6 (pip)
- Nothing: 31/32 GB
- Set cuda_malloc_async: kernel dies
- Set TF_MEMORY_ALLOCATION=0.5: 31/32GB

[2022-05-03 08:19] bschifferer commented on #229
@jperez999 I think that behavior is correct. In theory, cuda-malloc-async can work with TF2.7.0 but it depends on the environment. It did not work with our own container, but it worked, when installing it from pip.

[2022-05-03 10:18] bschifferer commented on #235
I took a look and Merlin Models have only a few set of metrics. Merlin Systems and Merlin/Merlin are based on Merlin Models examples and uses the same metrics. Can we discuss that based on the use cases/models?

My proposal is:

**All Notebooks:**
- Runtime
- % GPU utilization average/peak?

**Training:**
- Throughput (ex/sec)
- Ranking Metrics (both train and valid):
--  If Binary:
--- Recall
---

[2022-05-03 10:56] bschifferer commented on #212
We have three notebooks, which uses synthetic as an example:
[03-Exploring-different-models.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/03-Exploring-different-models.ipynb)
[04-Exporting-ranking-models.ipynb](https://github.com/NVIDIA-Merlin/models/blob/main/examples/04-Exporting-ranking-models.ipynb)
[05-Retrieval-Model.ipynb](https://github.com/NVIDIA-Merlin/models/blob/mai

[2022-05-03 12:31] rnyak commented on #212
@karlhigley @benfred and @jperez999 as a follow up question to Benedikt's, how CI will work with `ALI -CCP ` real data? we need to sign up to download that dataset. How the dataset will be downloaded?

[2022-05-03 13:33] karlhigley commented on #131
Closing this since the outstanding issues seem to be about docstrings, which probably makes sense to track as an epic-level chunk of work.

[2022-05-03 13:33] #131 closed

[2022-05-03 14:17] karlhigley opened #257 "[RMP] RecSys Challenge"
See scope of the effort detailed here: https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/412

[2022-05-03 14:25] karlhigley opened #258 "[RMP] Evaluate training performance for two-tower and DLRM models"
## Problem
Customers have no basis from which to chose Merlin as their recommendation framework.  In order to convince them we need to be able to demonstrate that our library achieves similar or superior performance both in terms of accuracy and in terms of runtime.

## Blockers
 - [ ] Work related to systems is not captured here

## Goal:
- Create a performance chart of retrieval and ranking mode

[2022-05-03 14:25] karlhigley opened #259 "[RMP] Improve the speed of training retrieval models with Merlin Models"
## Problem:
Merlin models needs to differentiate itself relative to other RecSys library solutions.  One of those areas of differentiation needs to be performance on the GPU.  If our libraries don't follow best practices and achieve fast performance that we can measure on GPU then our potential customers have no reason to use the library.

## Goal:
- Provide performant retrieval models in producti

[2022-05-03 16:04] karlhigley commented on #219
It's fine to tag the notebooks against the existing containers for now. We'll have to tag them again once the new containers are available, but we're in the process of working through a bunch of CI and build process issues, so that might be a while.

[2022-05-03 16:06] karlhigley commented on #253
Sounds good to me! Go ahead and edit the list to make it reflect how you'd like to tackle the work?

(I'm just the scribe here, trying to make sure we have things written down. I have no strong opinions about how this should go.)

[2022-05-03 16:09] karlhigley commented on #212
I have no idea (nor do I particularly care whether we run integration tests with real or synthetic data.) I've just written down what people kept telling me was supposed to happen, but if we need to revise the scope or the issues (or both), we should totally do that. Basically, I'm trying to write down what I keep hearing in order to make sure conversations like this one happen, so that we can cla

[2022-05-03 16:30] karlhigley opened #263 "Bring docstring coverage for Merlin repos up to 70%+"
# Docstring coverage:

- [ ] https://github.com/NVIDIA-Merlin/NVTabular/issues/1469
- [ ] https://github.com/NVIDIA-Merlin/models/issues/292
  - [ ] https://github.com/NVIDIA-Merlin/models/pull/297
- [x] https://github.com/NVIDIA-Merlin/systems/issues/46
- [ ] https://github.com/NVIDIA-Merlin/core/issues/48

# Core:

- [x] https://github.com/NVIDIA-Merlin/core/pull/34
- [ ] Improve docstring cover

[2022-05-03 18:09] karlhigley opened #264 "Get access to NFS mount with datasets for Blossom runs (blocks integration tests)"

[2022-05-03 18:34] karlhigley commented on #111
Sounds like the HugeCTR work here is done, if I understood correctly from @mikemckiernan?

[2022-05-03 19:57] rnyak opened #266 "import REPO_ROOT does not work in Merlin repo unit test"
I cannot run `from tests.conftest import REPO_ROOT` in the Merlin repo even though I added a conftest.py under the `/Merlin/tests/` folder.

I get the following error:

[code]

Please pull and run the unit test in this  https://github.com/NVIDIA-Merlin/Merlin/pull/265 to repro the issue.

[2022-05-03 20:26] karlhigley commented on #266
Seems like the test directory needs an `__init__.py` in order to be able to import from `tests.conftest`

[2022-05-03 22:38] #266 closed

[2022-05-04 13:51] rnyak commented on #229
@bschifferer one note to this thread:

`run_ensemble_on_tritonserver` is giving error if we set `cuda_malloc_async`.

[2022-05-04 15:10] karlhigley opened #269 "[RMP] KDD Tutorial (Merlin Models—Retrieval, Ranking, and Negative Sampling)"
## Problem:
We have an accepted KDD tutorial (outline can be found [here](https://docs.google.com/document/d/1mPT0QVjdZKh7Pe4O6hQOMljTfWMBLYoSRCxDUPI2Mhs/edit)). But Merlin Model does not include all the necessary components to build the outline examples. We also don't have all the experiment results that allow us to tell the desired story, i.e.: Two-tower is better than MF for the retrieval stage

[2022-05-04 15:20] karlhigley opened #270 "[RMP] RecSys Tutorial"
- [ ] What's the scope of this tutorial?
- [ ] Will it include?
  - [ ] Retrieval/ranking models
  - [ ] Transformer models (in MM?)
  - [ ] XGBoost/FIL
  - [ ] Merlin Systems

[2022-05-04 15:20] karlhigley commented on #270
@bschifferer @rnyak Have we already submitted a proposal for this tutorial? If so, could we link to it from this issue?

[2022-05-04 15:28] karlhigley opened #271 "[RMP] Make losses, metrics, masking, and negative sampling configurable from `model.compile()`"
During our paper research, we thought we could implement models from papers and get results that beat simple baselines. That didn’t turn out to be true, so we need to figure out why. We found that some of the experiments we wanted to run to improve performance weren’t supported by the current state of the library, so we’d like to make some API changes to support the effort to improve model perform

[2022-05-04 15:41] bschifferer commented on #270
The proposal deadline is May 18th. We will work on it this and next week

[2022-05-04 15:46] karlhigley opened #272 "RecSys 2022 Conference"
## Problem:
A clear description of the problem and how it impacts the customer experience of Merlin users.  Why is this important?  Why/Should we prioritize this work?  Note that this is problem singular.  Please try to ensure that we're trying to solve one problem and not many.

## Goal:
- What are the goals of this work.
- This can also include anti-goals of what this work does not include.
- Id

[2022-05-04 15:59] karlhigley opened #273 "[RMP] Add additional retrieval models to Merlin Models (MIND, etc)"
Before we can do this, we need to be able to construct datasets with aggregated past interactions using NVT.

[2022-05-04 16:08] karlhigley opened #274 "[Task] On-board KGMON to use Merlin Models"
They prefer PyTorch, but we don't have PyTorch support in Merlin Models yet.

[2022-05-04 16:09] karlhigley opened #275 "[RMP] On-board KGMON to use Transformers4Rec (PyTorch, but we're not actively supporting it)"

[2022-05-04 16:11] karlhigley opened #276 "[Task] Port the transformer blocks from Transformers4Rec (PyTorch) to Merlin Models (Tensorflow)"
## Problem:

The stable API in Transformers4Rec is based on PyTorch and includes all components used to run session-based research experiments reported in T4Rec paper. On the other hand the Merlin Models does not support a stable PyTorch API yet.

## Goal:

- The goal of this work is to port all t4rec blocks needed for defining transformer-based recommendation models (PyTorch implementation) into

[2022-05-04 16:13] karlhigley opened #277 "[RMP] External collaborations around Merlin Models"

[2022-05-04 17:57] EvenOldridge commented on #111
1.0 release is complete.  Let's create a new docs ticket.

[2022-05-04 17:57] #111 closed

[2022-05-04 19:31] karlhigley opened #278 "[RMP] Add Wide & Deep ranking model to Merlin Models"

[2022-05-04 19:32] karlhigley opened #279 "[RMP] Add YouTube DNN ranking model to Merlin Models"

[2022-05-04 19:38] karlhigley commented on #110
YouTube DNN and Wide & Deep have moved to separate issues:

- https://github.com/NVIDIA-Merlin/Merlin/issues/278
- https://github.com/NVIDIA-Merlin/Merlin/issues/279

[2022-05-04 19:38] #110 closed

[2022-05-04 19:39] karlhigley opened #280 "[Task] End-to-end session-based recommendations example? (TF only)"

[2022-05-04 23:48] benfred commented on #248
@jperez999 has an initial set of fixes here with https://github.com/NVIDIA-Merlin/core/pull/81 / https://github.com/NVIDIA-Merlin/NVTabular/pull/1536 / https://github.com/NVIDIA-Merlin/models/pull/412 / https://github.com/NVIDIA-Merlin/systems/pull/98 .

[2022-05-05 00:19] jperez999 opened #282 "Vulnerabilities in Images"
We have a few recurring vulnerabilities that show up as critical. We need to decide how to proceed with these. Whether we get permission to proceed or decide to remove.

 NGC security scans

Training containers have AA rating because of this vulnerability:

- Vulnerability   found in non-os package type (npm) -   /usr/local/nvm/versions/node/v16.6.1/lib/node_modules/npm/node_modules/cli-table3/nod

[2022-05-05 01:19] #248 closed

[2022-05-05 07:19] bschifferer commented on #209
When we move to the new container structure, do we still need a shared docker volume?

[2022-05-05 11:26] bschifferer commented on #212
@jperez999 (+ not sure who else can help).

For movielens-1m notebooks, the tests expect following data structure on the CI machine:
[code]

For aliccp-transformed, the tests expect following data structure on the CI machine
[code]

[2022-05-05 12:07] rnyak commented on #209
@bschifferer normally we should not, but we did not test anything with the new containers yet.

[2022-05-05 15:02] karlhigley opened #284 "Request access from DLFW to Gitlab `dl/dgx/tensorflow/manifests/master-py3-devel` for the `merlin-bot` group"

[2022-05-05 15:10] jperez999 opened #285 "Add NFS to Blossom to support integration testing"
Unfortunately we did not have an NFS on blossom. This prevents us from storing datasets that will be used for integration tests. Would require downloading all datasets each integration run <-- Untenable. To create this storage we need to get permission from blossom it will be more than 200GB. For our cases I believe we will need more than 200GB because criteo itself is like 400GB, we also have the

[2022-05-05 15:19] karlhigley opened #286 "[RMP] Recsys Tutorial & Demo - Flesh out the multi-stage recommender example architecture"
## Problem:

Customers need a clear example of a multi-stage recommender pipeline that they can follow and use to create their own versions.  The upcoming Recsys tutorial will be a public sharing of this example and serves as the deadline for its completion.

## Goal:
- Provide a clear example of a multi stage recommender pipeline that does retrieval, filtering, ranking and ordering.
- Highlight N

[2022-05-05 15:41] karlhigley commented on #282
Anything that affects DLFW affects our training images, anything that affects Triton affects our inference images. Graphviz is an issue with both.

[2022-05-05 16:06] rnyak commented on #286
@karlhigley can we add https://github.com/NVIDIA-Merlin/systems/issues/99 to the list? thanks!

[2022-05-05 17:18] EvenOldridge commented on #282
@viswa-nvidia can you please align this with the DLFW+Rapids integration vulnerabilities and confirm that we can use their waivers.
CVE-2021-43616 is waived which is our only critical.
I don't see waivers for:
npm - GHSA-93q8-gq69-wqmw
graphviz - CVE-2020-18032, CVE-2014-9157, CVE-2008-4555

[2022-05-05 17:30] viswa-nvidia commented on #282
OK. I will check on this now.

[2022-05-05 18:55] yuxiangl opened #289 "[BUG] Unsupported .version 7.6; current version is '7.5'"
### Environment details:

Environment location: Docker

Method of NVTabular install: Docker

I tried the following images:
- nvcr.io/nvidia/merlin/merlin-pytorch-training:22.02
- nvcr.io/nvidia/merlin/merlin-pytorch-training:22.03
- nvcr.io/nvidia/merlin/merlin-pytorch-training:22.04

### Issue

I am trying to run the following example code from https://docs.rapids.ai/api/cudf/stable/api_docs/api/

[2022-05-05 23:10] EvenOldridge opened #733 "[RMP] Performant large embedding table support"
## Problem:

## Goal:

## New Functionality

- Models
  - ...
- Transformers4Rec
  - ...
- NVTabular
  - ...
- Systems
  - ...

## Constraints:

## Starting Point:

Model Parallel Support
- [ ] ~Evaluation of HugeCTR, TorchRec, Distributed Embeddings, TFRA, PersiaML for inclusion in Merlin~
- [ ] Distributed embedding table support in merlin-models (SOK Plugin, Distributed Embeddings)
- [ ] Model

[2022-05-06 21:35] rnyak commented on #219
@bschifferer can we add a text on top of each notebook now for 22.05 release?

[2022-05-09 06:34] bschifferer opened #293 "Blogpost Two Tower Model"
Writing a blog post about Two Tower Models for our medium blog

[2022-05-09 06:35] bschifferer opened #294 "Blogpost Production-Ready Recommender Systems with Merlin Systems"

[2022-05-09 06:53] bschifferer commented on #214
@radekosmulski can you add an integration test for Merlin examples (unittest are from here): https://github.com/NVIDIA-Merlin/Merlin/pull/288

Example for integration tests can be found here: https://github.com/NVIDIA-Merlin/models/pull/414

[2022-05-09 09:24] bschifferer commented on #235
After our last CI meeting, we want only track a few metrics for some specific notebooks.

@jperez999 is our CI a single or multi-GPU environment?

Currently, we use following datasets in our repositories:
- MovieLens - too small, not sure if validation loss/AUC is meaningful
- Aliccp - good dataset size, but dataset is pretty unbalanced, we do not have an example with high accuracy results
- Outbr

[2022-05-09 16:44] benfred commented on #224
fixed by #288

[2022-05-09 16:44] #224 closed

[2022-05-10 00:42] radekosmulski commented on #214
will do @bschifferer! 🙂

[2022-05-10 17:32] mikemckiernan commented on #177
My view is that this is implemented in https://github.com/NVIDIA-Merlin/Merlin/pull/290.

There's some discussion of producing doc for a container before it is publicly available, but that's a new requirement to me.

[2022-05-10 17:32] #177 closed

[2022-05-11 00:00] zehuanw opened #301 "SOK performance drop on nvcr.io/nvidia/tensorfow"
We encountered SOK performance drop on the v22.04 container yesterday (sok DLRM benchmark got 70% drop). Installing SOK directly on [nvcr.io/nvidia/tensorfow:22.04](http://nvcr.io/nvidia/tensorfow:22.04) doesn't have such problem.

We also tested merlin-tensorflow-training:22.02, it was fine

- [x] do more test on the head of https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/training/docker

[2022-05-11 02:47] zehuanw commented on #301
Just tested the head of https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/training/dockerfile.tf
Same problem there. We are working on the second item.

[2022-05-11 03:32] zehuanw commented on #301
Just using native tensorflow without SOK, I still encountered big performance difference between merlin22:04 and [nvcr.io/nvidia/tensorfow:22.04](http://nvcr.io/nvidia/tensorfow:22.04)
below is the script:
horovodrun -np 8 python test.py

[code]

[2022-05-11 13:24] #219 closed

[2022-05-11 16:21] marcromeyn commented on #279
I am confused about why that transform needs to be in NVT? I think we have a Block in Merlin-models that does the continuous-power [source](https://github.com/NVIDIA-Merlin/models/blob/ecdd78574bd1584acdb721ecd20b1a9d1236a0e7/merlin/models/tf/blocks/core/transformations.py#L253-L280). Or is this not what you have in mind? @sararb @karlhigley

[2022-05-11 16:40] #301 closed

[2022-05-11 21:26] karlhigley commented on #279
I think it could go in either place, but it seems like a feature transformation to me (which is potentially applicable in other ways.) I didn't realize that block existed though, so that's good to know.

[2022-05-12 09:43] bschifferer opened #306 "Clean up NVTabular examples"
We want to develop new examples and clean the current NVTabular examples:
- [x] Developing new examples for NVTabular : https://github.com/NVIDIA-Merlin/NVTabular/issues/1541
- [x] Remove/Move existing examples to other libraries https://github.com/NVIDIA-Merlin/NVTabular/issues/1542

[2022-05-12 09:47] bschifferer commented on #229
@jperez999 have you had a change to update `configure_tensorflow` to  `allocate_tensorflow_memory` ?

[2022-05-12 09:48] bschifferer commented on #212
@jperez999 have you had a chance to add the dataset to the CI environment? Is there something we can help with?

[2022-05-13 04:56] benfred opened #309 "automate pushing of conda packages for merlin-core"

[2022-05-13 05:21] radekosmulski commented on #214
I would like to give a big shoutout to @bschifferer and @rnyak -- I am starting to get a hang of the containers and how to work with them 🥳

I am making some progress on this, but I have a question. @bschifferer provided me with the real data I can use, but he shared it with me via google drive.

In CI could I please ask where or if the data will be mounted anywhere or do we need to pull it?

[2022-05-13 06:07] bschifferer commented on #214
Hello @radekosmulski

we will assume that the data will be in this folder `/raid/data/aliccp/raw/` - @jperez999  is working on adding it to the CI machine. The request is in this ticket: https://github.com/NVIDIA-Merlin/Merlin/issues/212

[code]

Note that the `test` data is in the folder `valid`

[2022-05-13 06:31] radekosmulski commented on #214
That is all I needed to know, @bschifferer! 🙂 Thank you very much!!!!

[2022-05-13 06:48] radekosmulski commented on #214
@bschifferer if I am reading this right the [transfrom_aliccp](https://github.com/NVIDIA-Merlin/models/blob/d169d335f790abf23039e0c0dd6b22479000c666/merlin/datasets/ecommerce/aliccp/dataset.py#L247) function expects the directories to be named `train` and `test`.

Should we keep the original naming or accommodate this otherwise?

[2022-05-13 12:42] radekosmulski commented on #214
I restructured the test into two tests (one for each notebook).

I started to get OOM errors, but I am not completely sure if it was indeed because there was a single test (and I suppose state from the first notebook was retained while the 2nd one was being run) or if it was something that got messed up with my container
![image](https://user-images.githubusercontent.com/2444926/168279536-71d990d6

[2022-05-13 17:02] benfred opened #312 "automate pushing of conda packages for nvtabular"

[2022-05-15 17:38] rnyak opened #313 "Update Triton version to 22.04 in the inference containers"
The latest `merlin-tensorflow-inference:22.05` container has  Triton Server Version 2.20.0 corresponds to NVIDIA Release 22.03 (build 33743047) of the triton server container on NGC. We need Triton 22.04 to be able to use `cudashm` feature.  There was an error with `cudashm` in 22.03 release, but this was solved and it should be added to the Triton 22.04 release already.

[2022-05-16 16:20] benfred opened #315 "Automate release note generation using release-drafter"

[2022-05-16 16:24] benfred commented on #315
PR's in all the different repos:

https://github.com/NVIDIA-Merlin/models/pull/439
https://github.com/NVIDIA-Merlin/core/pull/88
https://github.com/NVIDIA-Merlin/systems/pull/103
https://github.com/NVIDIA-Merlin/systems/pull/107
https://github.com/NVIDIA-Merlin/Transformers4Rec/pull/415
https://github.com/NVIDIA-Merlin/Merlin/pull/308

[2022-05-16 16:40] marcromeyn commented on #271
**Current progress:**

![CleanShot 2022-05-16 at 18 39 06](https://user-images.githubusercontent.com/3015785/168641681-dbb3e342-5c4d-4998-b3b0-7445ecfb593e.png)

[2022-05-16 17:58] karlhigley commented on #271
That diagram seems like it might contain a more up-to-date list of the check-boxes we should have in the issue description 👍🏻

[2022-05-17 19:00] bschifferer commented on #235
How about HugeCTR?

[2022-05-17 19:04] karlhigley commented on #235
Not quite sure I understand the Triton part: How do we intend to measure p95 latency? Do we have a way to generate realistic requests that would make p95 meaningful? Or are we just intending to allow for some variance in the latency of serving the same request over and over?

[2022-05-18 17:21] karlhigley commented on #257
Closing as duplicate of https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/412

[2022-05-18 17:21] #257 closed

[2022-05-18 17:23] karlhigley commented on #271
@marcromeyn Could you add the document you wrote for your team meeting presentation here too?

[2022-05-20 12:24] mikemckiernan commented on #315
Each of the repos has a request in the CONTRIBUTING document to use labels.  Each repo has at least one label for each of the categories.  Closing.

[2022-05-20 12:24] #315 closed

[2022-05-20 21:08] karlhigley commented on #230
The outstanding issue here is that we need the combined training/inference containers to make it possible to run the multi-stage recommender example via one-click deploy.

[2022-05-20 21:09] EvenOldridge commented on #230
Blocked but should be resolved by https://github.com/NVIDIA-Merlin/Merlin/issues/202

[2022-05-23 12:56] #172 closed

[2022-05-23 16:38] jperez999 opened #330 "ENV pythonpath update breaks environment"
This line https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/training/dockerfile.tf#L116

messes up environment... nothing else can be installed in the python environment, specifically using pip.

[2022-05-24 18:15] rnyak commented on #269
Some context:

How do we train a DLRM model without negative interactions, i.e. explicit binary target column?
- We would need a candidate retrieval stage to generate the candidates, and then train the ranking model with these
     candidates. In that case, the ranking objective will be a binary classification task, and the loss is binary cross entropy. For that we need to generate our own binary

[2022-05-25 05:05] jperez999 opened #333 "Unit tests down, tensorflow reporting double metric install"
Anytime a test runs that uses tensorflow, you see
`E   tensorflow.python.framework.errors_impl.AlreadyExistsError: Another metric with the same name already exists.`

This fails the tests immediately. Seems to affect all repos, so it should be a infrastructure(container) level issue.

[2022-05-26 00:15] jperez999 commented on #333
tried this before and it did not work, but we have solved the issue.

[2022-05-26 00:16] jperez999 commented on #333
We adjusted the container dockerfile making it simpler and more reliant on previously created artifacts.

[2022-05-26 00:16] #333 closed

[2022-05-26 19:04] future-xy opened #338 "[BUG] Cannot run example - Deploying a Multi-Stage Recommender System"
Hi! Thanks for providing the multi-stage recommender system example. This is really helpful to learn to use Merlin in a more realistic scenario. I'm trying to run the two examples of Building-and-deploying-multi-stage-RecSys.

My system CUDA driver is 11.5 and I'm using nvcr.io/nvidia/merlin/merlin-tensorflow-inference:latest.

At first I had a problem similar to #158 and I solved it by following

[2022-05-26 21:32] rnyak commented on #338
@future-xy I have just run these two notebooks as they are without changing anything and it worked without any issue.

I used `nvcr.io/nvidia/merlin/merlin-tensorflow-inference:22.05` so basically you can pull this container (that's the latest one) as below:
[code]

let us know if you are still getting any error or not?

[2022-05-26 22:05] future-xy commented on #338
Thanks for your quick reply! I tried
[code]
and found ```22.05``` has the same image id as ```latest```, which is the one I used.

nvcr.io/nvidia/merlin/merlin-tensorflow-inference   22.05                         39a0a007576c   2 weeks ago     10.5GB
nvcr.io/nvidia/merlin/merlin-tensorflow-inference   latest                        39a0a007576c   2 weeks ago     10.5GB

I guess if it is because my

[2022-05-26 22:39] future-xy commented on #338
Anyway, I will first try to upgrade my CUDA driver to 11.6.

[2022-05-26 23:57] rnyak commented on #338
@future-xy my machine cuda driver and toolkit versions are like that:

[code]

[2022-05-27 10:42] sejal9507 opened #339 "Getting error while connecting to merlin through docker container"
Getting error while connecting to merlin through docker container by using this command:
docker run --gpus all --rm -it -p 8888:8888 -p 8797:8787 -p 8796:8786 --ipc=host --cap-add SYS_NICE [nvcr.io/nvidia/merlin/merlin-training:22.03](http://nvcr.io/nvidia/merlin/merlin-training:22.03) /bin/bash

Error:
docker: Error response from daemon: OCI runtime create failed: container_linux.go:370: starting

[2022-05-27 15:14] rnyak commented on #339
@sejal9507 can you provide more detail about your HW and your driver version? can you share the print outs from the commands below by executing them in your terminal:
[code]

thanks.

[2022-05-27 18:55] karlhigley opened #343 "Set up integration tests for Merlin example notebooks"

[2022-05-27 18:58] karlhigley opened #344 "[RMP] Set up performance metrics from integration tests for Merlin example notebooks"

[2022-05-27 21:53] bpark-nvidia opened #346 "Running example codes on A100"
I tried to run the example codes on an A100 machine, and I ran into an error when I tried to set a server with `tritonserver`. The two main error messages are `ModuleNotFoundError("No module named 'faiss.swigfaiss_avx2'")` and `Failed to place the graph without changing the devices of some resources. Some of the operations (that be colocated with resource generating operations) are not supported o

[2022-05-27 22:22] rnyak commented on #346
@jperez999 and @karlhigley fyi.

[2022-05-30 10:27] sejal9507 commented on #339
azureuser@ngc-vm:~$ nvidia-smi
Failed to initialize NVML: Driver/library version mismatch
azureuser@ngc-vm:~$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Nov__3_21:07:56_CDT_2017
Cuda compilation tools, release 9.1, V9.1.85

[2022-05-30 10:29] sejal9507 commented on #339
<img width="309" alt="Capture nvidia" src="https://user-images.githubusercontent.com/80972124/170973711-8cfb7146-e1d7-4aaf-9590-36f8c0e9a8ac.PNG">

[2022-05-30 17:04] future-xy commented on #338
After installing CUDA 11.6 and the corresponding driver, my problem is solved. But now I have met another problem similar to #346

I'm running on 3 A600 GPUs and the problem detail is shown below:
![3511653930227_ pic](https://user-images.githubusercontent.com/31511840/171035824-bffafef9-a919-4665-ac44-7a471649d199.jpg)

[2022-05-30 20:10] rnyak commented on #338
@jperez999  FYI.

[2022-05-31 18:09] rnyak commented on #346
@bpark-nvidia you can ignore `The two main error messages are ModuleNotFoundError("No module named 'faiss.swigfaiss_avx2'")` error if you are seeing `successfully loaded faiss` msg afterwards. You can checkout this relevant issue : https://github.com/kyamagu/faiss-wheels/issues/39 which tells we can safely ignore this error msg.

[2022-05-31 18:12] rnyak commented on #338
@future-xy you can ignore this error msg since faiss is successfully loaded afterwards. You can check out [this ticket](https://github.com/kyamagu/faiss-wheels/issues/39) for more info.

could you run example notebooks? if yes, can we close this ticket. thanks.

[2022-05-31 18:25] future-xy commented on #338
Thanks for your reply! Unfortunately, I still cannot start the triton server according to the example.
After running
[code]
I got
[code]

I don't think the error message, ```ModuleNotFoundError( "No module named "faiss, swiafaiss avx2'")```, is the key problem.
Instead, I guess ```Failed to place the graph without changing the devices of some resources``` seems to be the critical problem.

[2022-06-01 07:27] sejal9507 commented on #339
GPU - V100
Linux (ubuntu 18.04)

[2022-06-01 07:28] sejal9507 commented on #339
GPU - V100
Linux (ubuntu 18.04)
Using Azure Virtual Machine

[2022-06-01 14:27] sejal9507 commented on #339
Yes,exactly I was not able to see the GPU when executing this command nvidia-smi.
azureuser@ngc-vm:~$ nvidia-smi
Failed to initialize NVML: Driver/library version mismatch

Can you give me the commands?

[2022-06-01 15:03] jperez999 commented on #339
@sejal9507  Can you try a more updated container. It seems your  not able to load in the cuda version on the docker container. So it tries to rely on the bare metal cuda, which might not be updated... If you can try the 22.05 container set and let us know if you hit same problem that might help verify if that is the issue.

[2022-06-01 16:10] jperez999 commented on #346
we may need to rebuild faiss to support SM80 (A100)

[2022-06-01 16:23] rnyak commented on #338
@future-xy are you installing faiss, TF and feast as done in the notebooks?  or?

[2022-06-01 16:25] rnyak commented on #338
@future-xy do you see your GPUs when you run `nvidia-smi` in the inference docker container?

[2022-06-01 16:28] future-xy commented on #338
Yes, I can see all my GPUs. And as we can find in the output I provided above, Triton is using all three GPUs,
[code]

[2022-06-01 17:54] #338 closed

[2022-06-02 00:33] mengdong opened #359 "DeepFM model takes more than 10 minutes to load in 22.05 Inference container"
Model is shared at GCS bucket `gs://triton_sample_models/shared/triton-ensemble-20220601152829`

`tritonserver --model-repository /model --backend-config=hugectr,ps=/model/ps.json --log-verbose=1` to launch server in Merlin 22.05 inference NGC container it takes more than 10 minutes to load the model

[2022-06-02 02:15] mengdong commented on #359
log
[code]

[2022-06-02 08:25] sejal9507 commented on #339
(merlin) root@ngc-vm:~# docker run --gpus all --rm -it -p 8888:8888 -p 8797:8787 -p 8796:8786 --ipc=host --cap-add SYS_NICE nvcr.io/nvidia/merlin/merlin-training:22.05 /bin/bash

docker: Error response from daemon: OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: Running hook #0:: error running hook: exit status 1, s

[2022-06-02 16:10] mkumari-ed opened #360 "Retrieving top-k candidate items using PredictTensorflow() is throwing AttributeError"
Deploying multi-stage recsys cell 15: https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb

When trying to retrieve top-k candidate items from the trained model using PredictTensorflow(), I am getting AttributeError. Attaching the error screenshots
![Screen Shot 2022-06-02 at 8 32 01 AM](https

[2022-06-02 16:13] mkumari-ed opened #361 "Unable to export graph as ensemble when using multi-hot categorical column"
I am using inference container 22.05. When materializing feast in cell 6 [deploying multi-stage recsys notebook](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb), I am getting exception while materializing user_features. Item features worked just fine. Please download the sample data and

[2022-06-03 18:38] mengdong commented on #359
excessive loading time is due to we didn't set num_buckets to cap the cardinality

[2022-06-03 18:38] #359 closed

[2022-06-06 16:51] mikemckiernan commented on #241
As long as the library versions are available from `pip` or by importing the library and printing the version it'll be OK.  If there are grander ideas, I'm game to pitch in.

[2022-06-06 19:48] karlhigley commented on #241
They should be, so I'm not sure if we need to do anything specific here, but wanted to make sure we didn't miss adding a crucial step to the new pipelines (if necessary.)

[2022-06-07 11:40] sejal9507 commented on #339
I have executed this command - sudo apt-get install -y cuda-compat-11-5
<img width="947" alt="cuda" src="https://user-images.githubusercontent.com/80972124/172370630-a9b8bbd9-8177-45ce-8cfc-75e1e4e173b7.PNG">

[2022-06-07 15:06] future-xy opened #374 "[QST] Unexpected behaviour while serving multi-stage recommender system with Triton"
# Triton reuses model.py of the first model

## Details
Triton reuses model.py of the first model (i.e. ```poc_ensemble/0_queryfeast/1/model.py``` in the multi-stage recommender system example) while ignoring model.py files of any other models, such as ```2_queryfaiss,  3_queryfeast,  4_unrollfeatures, 6_softmaxsampling```. However, Triton does load the correct config.pbtxt for each model.

It's e

[2022-06-07 19:09] RenfeiChen-FB opened #375 "[BUG?] Imbalanced TorchAsyncItr DataLoader Cuda Memory Usage"
### Bug description
When I tried to use TorchAsyncItr to load the data, the GPU Cuda memory usage is very imbalanced, the usage of rank_0 is very high: if we have 8 GPUs, for the rank1 to rank7, there's only one process on each of it, but for rank_0, there are 8 processes. So the memory usage for rank_0 is very high

![image](https://user-images.githubusercontent.com/91653308/172460004-cbaef07f-6d

[2022-06-08 17:26] viswa-nvidia opened #377 "[DOC] Update references docs based on latest 3 containers (Merlin - HCTR/TF/PYT)"
## Report needed documentation

We've changed from 6 containers to 3 containers.
https://nvidia.slack.com/archives/C0365QKG5JS/p1654701319137629
Documentation needs to be updated so that the references to old container structure are updated

[2022-06-08 17:41] mikemckiernan commented on #377
I'll start with the simplest changes that I believe we need to make:
* The [Merlin Containers](https://nvidia-merlin.github.io/Merlin/main/containers.html) page needs to reflect that we have only three containers and no separation for training vs inference.
* Because this is a significant change, I'd like the the 22.06 instance of the page to acknowledge the change from 22.05 and offer a link to t

[2022-06-09 00:18] benfred commented on #330
We've changed hugectr to not require the PYTHONPATH in https://github.com/NVIDIA-Merlin/HugeCTR/pull/320 ,

[2022-06-09 00:18] #330 closed

[2022-06-13 04:28] radekosmulski commented on #211
Ok, this issue now makes much more sense to me 🙂 I created a PR NVIDIA-Merlin/models#508 but I think this is just a tiny step on this. Not sure what would be the logical next step here.

I certainly need to continue to bring myself up to speed with `Merlin Models`, I still only have a very narrow understanding of all the components and how they fit together, but regardless, I wonder what the next

[2022-06-13 16:42] viswa-nvidia opened #388 "Publish library versions as JSON for documentation"

[2022-06-13 16:44] viswa-nvidia commented on #202
remaining issues in creating pipeline tracked in a seperate ticket.

[2022-06-13 16:44] #202 closed

[2022-06-13 16:49] rnyak commented on #225
The PR for this unit test was created https://github.com/NVIDIA-Merlin/Merlin/pull/387. Waiting to be reviewed and merged.

[2022-06-13 18:51] mikemckiernan commented on #377
NVTabular repo: https://github.com/NVIDIA-Merlin/NVTabular/pull/1581

[2022-06-13 23:12] karlhigley commented on #211
I'm honestly not entirely sure either! I captured this issue because I heard you were already working on it, but it's mostly a placeholder for a discussion on the scope of what we'd want to do and where that falls in terms of our team priorities. I don't think we've had that conversation yet, and I'm not entirely sure how/where it would happen either (given time zones etc.)

[2022-06-13 23:14] karlhigley commented on #211
I put your face on it less to signal that you're responsible for the whole thing (I don't think you are), and more to signal that you'd be the person who is already doing relevant work and probably would have worthwhile thoughts about what we ought to be able to do with pre-trained embeddings.

[2022-06-14 01:24] radekosmulski commented on #211
Thank you very much @karlhigley for these thoughts, they are very helpful! 🙂 Makes a lot of sense.

BTW in NVIDIA-Merlin/models#508 I think I came across something that might be quite useful to have, that is being able to associate multiple embedding to a single index column.

[2022-06-14 19:00] #225 closed

[2022-06-14 19:57] #377 closed

[2022-06-15 11:40] #360 closed

[2022-06-15 12:38] oliverholworthy opened #393 "Add an input layer that supports vector inputs?"

[2022-06-15 12:40] oliverholworthy commented on #393
created accidentally (clicked a convert to issue link)

[2022-06-15 12:40] #393 closed

[2022-06-15 14:18] rnyak commented on #361
Closing this since materialization issue was solved. And another bug was reported here  https://github.com/NVIDIA-Merlin/systems/issues/115

[2022-06-15 22:27] EvenOldridge commented on #205
Now that the initial unit tests are in place we should come up with a process for adding new ones as examples are added to the libraries.  @bschifferer can you work with me and @benfred to define this.

[2022-06-15 22:27] #205 closed

[2022-06-16 13:10] oliverholworthy commented on #104
For the serving part. My understanding is that, for both Implicit and LightFM, the way to serve these at scale is similar to the two tower / bi-encoder design of [the DLRM example we have](https://github.com/NVIDIA-Merlin/Merlin/tree/a0fa064fdc6b45b7a4c959f7dcf61c39568e4ed4/examples/Building-and-deploying-multi-stage-RecSys).

Where the item embeddings are stored in a approximate-nearest neighbour

[2022-06-16 17:39] karlhigley opened #394 "[RMP] Create a separate Merlin package for the dataloaders"
## Problem:
A number of customers only want to use our dataloaders.  They're a thin wedge that we can use to get Merlin adoption amongst teams.

The PyTorch recommendations framework TorchRec would like to make the Merlin dataloader their default without depending on all of Merlin Models. They'd like to publish blog posts about the framework, which creates an opportunity to co-promote one part of

[2022-06-16 18:24] viswa-nvidia opened #395 "[Task] Add nspect scans for all repos"
Currently nspect scans only check the NVTabular repo. The other repos like Core, Systems, Models etc. must be added as well.

[2022-06-16 19:33] viswa-nvidia opened #397 "[Task] Update criteo links in example notebooks"
Criteo link updates needed:

## NVTabular:
NVTabular/examples/scaling-criteo/01-Download-Convert.ipynb
Change "http://azuremlsampleexperiments.blob.core.windows.net/criteo/day_" to "https://storage.googleapis.com/criteo-cail-datasets/day_"
NVTabular/examples/tensorflow/accelerating-tensorflow.ipynb
change the link of "Criteo Terabyte Dataset" from "https://labs.criteo.com/2013/12/download-terabyte

[2022-06-17 14:13] rnyak commented on #286
@karlhigley hello. any updates on the estimated deadline for adding NVT to ensemble graph?  we would be needing this feature for RecSys tutorial.

[2022-06-17 17:42] karlhigley commented on #286
So, based on our conversation the other day, I'm not sure we actually do need NVT in the ensemble graph in order to send raw data in the request, since it should be possible to map between raw ids and categorified ids just with the way we ingest data into Feast and the way we build the ensemble graph.

The other option, since Merlin Systems already has an operator for running an NVT `Workflow`, wo

[2022-06-17 17:43] karlhigley commented on #286
(If neither of those approaches work, then we should talk about getting this epic issue prioritized on the roadmap. @EvenOldridge would be a good person to talk to about that.)

[2022-06-17 18:25] jperez999 commented on #375
@RenfeiChen-FB hi and thanks for the Bug. What you are seeing is the artifacts from cudf loading in chunk in the 0 GPU because it cudf doesnt know that it should be running on a different GPU. To fix this please see changes to script below:
[code]

This change reduces each of those "ghost" threads by 90% we are working on identifying and removing the rest.

[2022-06-17 23:59] EvenOldridge commented on #286
The second option is probably the best fit right now.  I agree it would be nice to be able to automatically split the graph into user and item aspects and then deploy each of them separately, but it's not possible without subgraphs in NVT and as Karl says there are straightforward workarounds.

[2022-06-18 00:00] EvenOldridge commented on #286
@rnyak can you update the issue for the tutorial to include this work of splitting the user and item feature workflows.

[2022-06-18 04:33] jperez999 commented on #375
The actual fix for this that completely removes the ghost process on the main GPU is to set the cuda device before importing any packages that use cuda (i.e. torch, cudf, nvtabular). To do this import only torch.dist to get rank information and immediately set the visible device only to the processes rank (essentially making only that index GPU available for this process), in this process regardle

[2022-06-20 19:11] bschifferer opened #402 "[Task] Define template and requirements for examples"
### Description

We should define a template and requirements when we develop new examples.

For example:
- Copyright
- Headings
- Unittests
- etc

[2022-06-20 19:13] bschifferer opened #403 "GTC Fall 2022 DLI"
- [ ] Create a submission
- [ ] If accepted, develop content

[2022-06-21 13:14] marcromeyn opened #404 "[RMP] Decouple InputBlock from Embedding creation allowing for user defined embeddings"
## Problem:
Customers want to be able to create embeddings that support a wide variety of options.  Currently InputBlock handles the selection of these features through arguments, however we're up to *18* arguments and it's only going to get worse.

By separating input block definition from embedding creation we can allow for a much more flexible set of embeddings support with a simpler API.

## G

[2022-06-21 16:01] gabrielspmoreira opened #405 "[RMP] Merlin Models zoo benchmark"
## Problem:
It is not clear for customers which algorithm or model would provide the better accuracy.
There are many academic frameworks that provide some benchmarks for tasks like retrieval, CTR prediction, sequential and session-based recommendation. Such benchmarks are usually static and reported in papers. Those benchmarks in general are performed on small public datasets with very few feature

[2022-06-21 20:43] karlhigley opened #406 "[UNP] Add support for additional DL frameworks in Merlin Systems"

[2022-06-21 20:44] karlhigley opened #407 "[RMP] Cross-framework evaluation metrics"
# Problem statement
Merlin models should allow you to train models from different frameworks (TF/PT/lightfm/xgboost/implicit etc) and then compare them in a consistent "apples-to-apples" type way. Right now each framework has its own evaluation metrics, that aren't directly comparable to other frameworks. During the paper experiments for instance, we had to implement custom metric code for implici

[2022-06-22 00:32] viswa-nvidia commented on #263
@karlhigley , could you please check the boxes that are done and move the rest to a separate ticket.

[2022-06-22 00:54] jperez999 opened #408 "[RMP] Migrate CI infrastructure from Jenkins to Github Actions"
## Problem:
Merlin's current CI infrastructure for PR level testing is supported with a P100 DGX station. That machine is running a docker container with a jenkins instance. This Jenkins instance is responsible for running the PR level unit test runs for all the repos. The issue with the current setup is that all unit tests for all repos and PRs  run on the same container. This causes issues when

[2022-06-22 09:19] radekosmulski opened #409 "[FEA] Add ability to run evaluation on other `Dataset`(s) while training"
# 🚀 Feature request

It would be great to be able to evaluate the results of the `xgboost` model in training on other datasets than train. This addresses the inherent ability of `xgboost` to overfit and would align with how `xgboost` is nearly always used (with early stopping).

Core functionality:
- the ability to pass in a `Dataset` to be used for evaluation and to use that `Dataset` for early s

[2022-06-22 09:57] oliverholworthy commented on #105
An update on this issue.

_Merlin Models_

We have a first version of the XGBoost API in Merlin Models from release 22.06. Once we have an example that part can be considered complete, for the purposes of this issue. With ongoing support for feature improvements via other issues.

_Merlin Systems_

Operators have been added to Merlin Systems to enable XGBoost, LightGBM, Scikit-Learn (Random Forest

[2022-06-22 14:22] viswa-nvidia opened #412 "[ERMP] Make embedding layers more performant and scalable"
## Problem
Customers need to be able to train models that exceed the memory of a single GPU. Recommender Systems models can grow to over hundreds of millions of users and items , which isn’t feasible to store on a single GPU.

## Goal
- HugeCTR SOK  implementation in Models library
- Make embedding layers more performant - ( Based on JoC example - 40% more efficient )
-

##Stories
- [ ] https://gi

[2022-06-23 11:21] marcromeyn opened #413 "[RMP] Support negative-sampling for ranking"
## Problem:
The big majority of our customers are training their models on implicit feedback and therefore typically only have positive interactions and need some strategy to sample negatives.

As of now, we only have limited support for negative sampling in retrieval models and no support for other use-cases.

![CleanShot 2022-06-23 at 13 19 18](https://user-images.githubusercontent.com/3015785/1

[2022-06-23 13:08] mikemckiernan commented on #388
Sought some advice and clarification: https://nvidia.slack.com/archives/C01RP7T89PY/p1655920435985939

[2022-06-23 19:17] jperez999 commented on #285
Ended up using the standard 200GB and using a "real user's" account is required. Currently we are using a drive controlled by my credentials.  We have a subset of the criteo dataset and the full datasets for all others.

[2022-06-23 19:17] #285 closed

[2022-06-24 17:29] rnyak commented on #413
That's a required feature for KDD tutorial content, which we are now trying to do it with a manual custom way.

[2022-06-24 21:19] radekosmulski commented on #293
This one is done now! Here is [the link](https://medium.com/nvidia-merlin/scale-faster-with-less-code-using-two-tower-with-merlin-c16f32aafa9f) to the published article.

[2022-06-27 15:48] gabrielspmoreira opened #418 "[RMP] Finalize YouTubeDNN retrieval"
## Problem:
Most of the work for full support of YouTubeDNN is done, but there are still some pending tasks.

## Goal:
- Finish the YouTubeDNN retreival model in order to
  - Start support sequential interactions in Merlin Models, as expected by many our customers, as a first step towards upcomming support for more advanced sequential and session-based recommendation.
  - Enable us to provide a mo

[2022-06-27 18:41] jperez999 commented on #375
@RenfeiChen-FB I think we solved the problem, I am going to close this issue. If you need it, feel free to open it back up.

[2022-06-27 18:41] #375 closed

[2022-06-27 19:49] bschifferer commented on #236
We decided the metrics in https://github.com/NVIDIA-Merlin/Merlin/issues/235

[2022-06-27 19:49] #236 closed

[2022-06-27 19:49] bschifferer commented on #237
We decided the metrics in https://github.com/NVIDIA-Merlin/Merlin/issues/235

[2022-06-27 19:49] #237 closed

[2022-06-27 19:50] bschifferer commented on #240
Let's keep this as the main ticket.

We want to collect metrics based on the criteo example:
https://github.com/NVIDIA-Merlin/Merlin/issues/235

[2022-06-27 19:51] bschifferer commented on #239
Using this as the main ticket: https://github.com/NVIDIA-Merlin/Merlin/issues/240

[2022-06-27 19:51] #239 closed

[2022-06-27 19:51] bschifferer commented on #238
Using this as the main ticket: https://github.com/NVIDIA-Merlin/Merlin/issues/240

[2022-06-27 19:51] #238 closed

[2022-06-27 22:37] jperez999 opened #419 "[RMP] Support Offline Batch processing of Inference Pipelines"
## Problem:
As a user, I would like to run my merlin systems inference pipeline in an offline setting. This will allow me to conduct rigorous testing and better compare behaviors against other systems, at both operator and system level.  To do this I need to be able to run my merlin systems inference graph without using triton or the configs generated for it. It will require a new operator executo

[2022-06-28 00:47] #293 closed

[2022-06-28 01:57] jperez999 opened #420 "[RMP] Merlin Data Conversion Support"
## Problem:
A clear description of the problem and how it impacts the customer experience of Merlin users.  Why is this important?  Why/Should we prioritize this work?

As a developer. to satisfy the requirements for both:
https://github.com/NVIDIA-Merlin/models/issues/450
https://github.com/NVIDIA-Merlin/Merlin/issues/419
I would like to be able to convert data between frameworks without having t

[2022-06-29 22:37] viswa-nvidia commented on #104
@benfred / @oliverholworthy , please fill up the problem, goal and constraints section in the description. You may have provided this in the comments. Please summarise it there. Let me know if you are facing any difficulties.

[2022-06-29 22:44] viswa-nvidia commented on #286
@rnyak , could you please help to provide details such as the problem, goal, constraints and starting point in the top. Some of this info may be available in the comments. Please help to summarize it at the top. If you are facing any difficulties please let me know.

[2022-06-29 22:52] viswa-nvidia commented on #344
@EvenOldridge , who is the best person to provide the details for this ticket ?

[2022-06-30 00:10] viswa-nvidia commented on #343
@karlhigley @bschifferer , please add details such as the problem, goal and constraints. Let me know from a task perspective whether this ticket captures everything.

[2022-07-01 00:25] viswa-nvidia opened #428 "[RMP]Merlin Unit tests"
## Problem:
The current set of unit tests doesn't cover all examples. Additional examples must be added

## Goal:
- What is the goal of this work.  Note that this is goal singular.  Please try to ensure that we're trying to solve one problem and not many.
- This can also include anti-goals of what this work does not include.
- Ideally this takes the form of a bulleted list.

## Constraints:
- What

[2022-07-01 00:25] viswa-nvidia commented on #428
@jperez999 , this was discussed in the last weekly sync. Could you please point me to the tickets and also update the rest of the sections below

[2022-07-01 00:47] viswa-nvidia commented on #104
@oliverholworthy , I have added 22.07 in the description to specify that the task is in scope for 22.07. If it needs to be moved out to future release, please specify

[2022-07-01 17:11] viswa-nvidia commented on #105
@radekosmulski , could you please add the ticket tracking the examples here in the top

[2022-07-01 18:35] #263 closed

[2022-07-01 18:37] karlhigley commented on #407
Duplicate of NVIDIA-Merlin/models#450

[2022-07-01 21:40] rvk007 opened #429 "Update README.md with information about setting up the development environment"
Currently in Code contributions block of [CONTIBUTING.md](https://github.com/NVIDIA-Merlin/Merlin/blob/main/CONTRIBUTING.md), it says

Although, [README.md](https://github.com/NVIDIA-Merlin/Merlin/blob/main/README.md) has links to install various Merlin components, it doesn't mention any concrete steps to set up the development environment.

### Suggested fix for documentation
- Provide detailed s

[2022-07-04 21:39] EvenOldridge commented on #286
Updated the ticket.  @rnyak can you make sure that all next steps are properly captured.

[2022-07-04 21:45] EvenOldridge commented on #270
@bschifferer @rnyak Is this a duplicate of https://github.com/NVIDIA-Merlin/Merlin/issues/286

[2022-07-04 21:49] EvenOldridge commented on #271
@marcromeyn is this ticket still active or representative of what you're working on?

[2022-07-04 22:00] EvenOldridge commented on #394
I've created the repo under the name 'dataloader' primarily for seo and to make sure its got a narrow focus but we can rename later.

[2022-07-04 22:18] EvenOldridge commented on #420
I agree it shouldn't be a roadmap ticket, it's a subset of a few other roadmap tickets.

I still think the format of problem, goal, constraint and starting point is valuable outside the scope of roadmap tickets in order to ensure that we understand what it is we're solving for.

[2022-07-04 22:23] EvenOldridge commented on #412
Closing as a duplicate of https://github.com/NVIDIA-Merlin/models/issues/415

[2022-07-04 22:23] #412 closed

[2022-07-04 22:25] EvenOldridge commented on #259
@gabrielspmoreira @marcromeyn Where are we at with the perf regressions we were seeing?  Can we close this?

[2022-07-04 22:26] EvenOldridge commented on #253
@bschifferer can you give an update on this ticket?

[2022-07-04 22:35] EvenOldridge commented on #428
@viswa-nvidia I believe this is already tracked here: https://github.com/NVIDIA-Merlin/Merlin/issues/343

[2022-07-05 14:44] viswa-nvidia commented on #413
Negative sampling for ranking is the current priority and is the focus for 22.07

[2022-07-05 14:52] viswa-nvidia commented on #271
Simplify the design of negative sampling
 Make it more explicit what gets called when and what's happening
 Classes renamed to make the concepts clearer
 Make negative sampling work for ranking models
 Allow putting item ids on the queue (instead of item embeddings)
 Make it possible to save a full two-tower model (instead of just the individual towers)
 Include the queue state
 Include the negati

[2022-07-05 14:52] #271 closed

[2022-07-05 15:04] jperez999 commented on #344
This is blocked on the following tickethttps://github.com/NVIDIA-Merlin/Merlin/issues/343 we need to refactor the way we leverage asvdb to accommodate for testbooks and non-notebook integration tests(<-- not seen before).

[2022-07-05 15:13] viswa-nvidia opened #433 "[RMP] Tensorflow support for session based recommendations integration in Merlin"
## Problem:
Session-based and sequential-based models are an active research area for providing personalized recommendations. Transformers4Rec library was built to support the definition of such architectures and the results of our experiments conducted in the [T4Rec paper](https://dl.acm.org/doi/10.1145/3460231.3474255) showed the effectiveness of Transformers in modeling short sequences observed

[2022-07-05 17:57] oliverholworthy commented on #104
I've updated the description to make it clearer which tasks are in scope for 22.07. I think we can achieve a self-contained operator for Implicit for the upcoming release.

[2022-07-06 02:37] viswa-nvidia commented on #269
@bschifferer , please fill up the problem, scope and starting point section above. It may be listed in the comments section. Please provide them above for clarity. Let me know if you need any help.

[2022-07-06 03:26] sontung2310 opened #437 "[QST] Building-and-deploying-multi-stage-RecSys with custom dataset"
❓ Questions & Help
Hi! Thanks for providing the multi-stage recommender system example. This is really helpful to learn to use Merlin in a more realistic scenario. I'm trying to run Building-and-deploying-multi-stage-RecSys with custom dataset.
However, I have some problem when doing this:

- When I trying to train the both Retrieval Model and Ranking model, the val_loss_total is became higher as

[2022-07-06 18:56] mikemckiernan commented on #388
Closing due to limited traction and Karl's comment:

[code]

[2022-07-06 18:56] #388 closed

[2022-07-06 18:57] #241 closed

[2022-07-07 17:30] #429 closed

[2022-07-07 20:38] EvenOldridge commented on #282
We've aligned with the NGC team on this.  Vulnerabilities will be flagged as they're seen and our rating will reflect that.  We'll commit to fixing those within our library (nothing expected there) and using the latest library for our dependencies to make sure that we're capturing their fixes.

[2022-07-07 20:38] #282 closed

[2022-07-07 22:05] viswa-nvidia commented on #428
@EvenOldridge , https://github.com/NVIDIA-Merlin/Merlin/issues/343 tracks integration tests. This is to track unit tests. Let me know if you still see duplication.

[2022-07-07 22:14] viswa-nvidia commented on #255
@karlhigley , I saw the comment after 22.05 and wondered whether we should have this ticket defined and ready for discussion at the next grooming meeting. Can you help in definition ?

[2022-07-07 22:15] viswa-nvidia commented on #272
@EvenOldridge , Is this ticket a duplicate ? If yes, please close it.

[2022-07-08 17:48] sohn21c commented on #404
re: "to create embeddings that support a wide variety of options"

[2022-07-08 17:58] sohn21c commented on #413
What negative sampling algorithms are we implementing for retrieval, ranking, and session-based? We have 4 of them implemented in Merlin Models [link](https://nvidia-merlin.github.io/models/main/api.html#sampling)

[2022-07-08 18:02] sohn21c commented on #286
@karlhigley how is this different from e2e example we have [here](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/01-Building-Recommender-Systems-with-Merlin.ipynb)? Will this be an enhancement to e2e example e.g. adding filtering w/ bloom filters?

[2022-07-08 20:04] viswa-nvidia opened #442 "[BUG]Trial bug to test the automation"
### Bug description

### Steps/Code to reproduce bug

1.
2.
3.

### Expected behavior

### Environment details
- Merlin version:
- Platform:
- Python version:
- PyTorch version (GPU?):
- Tensorflow version (GPU?):

### Additional context

[2022-07-08 20:24] viswa-nvidia opened #443 "[Task]Fix github automations"
Repo	BUG Template	Automation ok?	Other fixes
models	Y	Y	Remove auto labelling- status/needs-triage label
T4R	Y	Y	Remove auto labelling- status/needs-triage label
Merlin	Y	Y
NVT	Y	Y
Core	N	N
Systems	Y	Y
HugeCTR	Y	N
Distributed -embeddings	N	N
Publications 	N	N
Nvtabular-triton-backend	N	N
Competitions	N	N
gcp-ml-ops	N	N

![image](https://user-images.githubusercontent.com/72522559/178065246-0a188d4a

[2022-07-08 21:46] benfred commented on #443
merlin-core and hugectr should both be fine for the backlog automation (I see https://github.com/NVIDIA-Merlin/core/issues/104 and https://github.com/NVIDIA-Merlin/HugeCTR/issues/341 in the backlog project).

[2022-07-08 22:17] #442 closed

[2022-07-10 18:14] rnyak commented on #269
@viswa-nvidia  @karlhigley  @sararb  for viz. Some updates:

- currently HPO results on retrieval model with Ecom-REES dataset does not show strong justification that TT model is always better than MF. Thus, we will not move with this motivation, instead we will showcase with different hyper-parameters we can get better results with TT.
-  we are not blocked by #499 for now.
-  We did not run HPO

[2022-07-11 15:46] viswa-nvidia commented on #286
Add a filtering stage (Bloom filters for previous interactions)? - Is this in scope ?

[2022-07-11 16:02] viswa-nvidia commented on #413
@marcromeyn , please update this ticket for negative sampling refactoring for retrieval

[2022-07-11 16:50] viswa-nvidia commented on #258
We need to re evaluate the priority of this development

[2022-07-12 17:00] #214 closed

[2022-07-12 19:12] viswa-nvidia opened #446 "Add negative-sampling for ranking (happening right after the data-loader)"

[2022-07-13 01:46] viswa-nvidia opened #447 "[BUG] Issue in running Merlin Containers on quick deploy"
### Bug description
https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-training?quick-deploy=false  . After deploying and opening the jupyterlab it got stuck in the loading kernel step. This applies to  Merlin training and Merlin Pytorch training. Both of them had this issue.

< To be updated >
### Steps/Code to reproduce bug

1.
2.
3.

### Expected behavior

### Environment

[2022-07-13 02:13] radekosmulski commented on #294
This has been now [published](https://medium.com/p/exploring-production-ready-recommender-systems-with-merlin-66bba65d18f2).

[2022-07-13 02:13] #294 closed

[2022-07-13 06:56] bschifferer commented on #278
Are we adding model to the ranking notebook: https://github.com/NVIDIA-Merlin/models/blob/main/examples/03-Exploring-different-models.ipynb

[2022-07-13 10:05] radekosmulski opened #448 "[RMP] Give users an ability to understand what their model consists of without having to read code"
## Problem:
For a user who is new to our library, figuring out exactly what the supported architectures consist of, and what happens to data as it flows through Merlin Models, might not be easy.

The only viable path right now is to read the code.

If one attempts to understand the model via looking at its layers, this is what they see
![image](https://user-images.githubusercontent.com/2444926/178

[2022-07-13 16:27] viswa-nvidia opened #449 "Implement filtering by category"

[2022-07-13 16:29] viswa-nvidia commented on #449
@rnyak , please start the initial investigation and get back

[2022-07-13 16:29] viswa-nvidia commented on #449
This may have to be moved to the systems repo. @karlhigley , please take a look

[2022-07-13 16:34] EvenOldridge commented on #286
@rnyak are there categories we could filter on or should we look into adding a created 'in season/stock' column that we could filter on

[2022-07-13 17:01] viswa-nvidia commented on #419
Assignees will be Karl / Adam.

[2022-07-13 21:32] sohn21c commented on #419
This is a prerequisite for cross-FW evaluation

[2022-07-14 16:35] sararb opened #451 "[Task] First support of session-based recommendation with RNNs block"
## Problem:
The integration of session-based support in Merlin Models requires the implementation/refractory of different blocks. (Ticket #433 summarizes the motivation and an overview of all the requirements).

## Goal:
- Implement the first low-level support of a session-based model using RNNs.
- This work will include different blocks needed for session-based but won't link them together.

## C

[2022-07-14 17:31] sararb opened #452 "[Task] Support of session-based model definition with masking techniques for TF"
## Problem:
The session-based blocks defined in #451 are implemented as standalone tasks and we need to link them together to provide known session-based models.

## Goal:
- Implement the high-level blocks (inputs block, next item prediction task) needed for defining sequential models.

## Constraints:
- #451 should be finalized before starting this work
- Update examples and unit tests with the n

[2022-07-15 00:14] viswa-nvidia opened #453 "Example of serving tree models ( End to End example )"

[2022-07-15 00:17] viswa-nvidia opened #454 "Example of training LightFM in Merlin Models"

[2022-07-15 00:18] viswa-nvidia opened #455 "Example of serving Implicit in Merlin Systems"

[2022-07-15 00:18] viswa-nvidia opened #456 "Example of serving LightFM in Merlin SystemsAha! Link: https://nvaiinfa.aha.io/features/MERLIN-829"

[2022-07-15 00:27] viswa-nvidia opened #457 "Support for simple ML/CF Models - LightFM serving"

[2022-07-15 00:44] viswa-nvidia opened #458 "Solve the issue with reverse categorical mapping from categorified id back to the original value"

[2022-07-15 00:51] viswa-nvidia opened #459 "Decouple InputBlock - Create `InferEmbeddings`"

[2022-07-15 00:51] viswa-nvidia opened #460 "Decouple InputBlock - Create new `InputBlock`"

[2022-07-15 01:02] viswa-nvidia opened #461 "Offline Batch Processing - Create an abstraction that allows for creating a common data type"

[2022-07-15 01:02] viswa-nvidia opened #462 "Offline Batch Processing - Create required operator level functions (predict, my_input_type, transform_df, etc...)"

[2022-07-15 01:02] viswa-nvidia opened #463 "Offline Batch Processing - Create an executor that will run the ops in the graph."

[2022-07-15 12:27] marcromeyn opened #464 "[RMP] Improve negative sampling for retrieval"
## Problem:
There is a considerable amount of tech-debt in the code that’s responsible for negative sampling in retrieval. The biggest issue is that it relies heavily on the model-context, which we would like to remove in order to simplify things.

## Goal:
- Simplify the base-class `PredictionTask`
- Remove the usage of model-context in the prediction-tasks
- Generalize sampling-queues to allow f

[2022-07-15 14:51] viswa-nvidia commented on #464
@EvenOldridge , is this getting added to the 22.08 POR. ?

[2022-07-15 14:55] viswa-nvidia commented on #446
https://github.com/NVIDIA-Merlin/models/pull/560
https://github.com/NVIDIA-Merlin/models/pull/567
https://github.com/NVIDIA-Merlin/models/pull/571
https://github.com/NVIDIA-Merlin/models/pull/582
These PRs close the negative sampling support for ranking related development for 22.07

[2022-07-15 14:55] #446 closed

[2022-07-15 14:56] viswa-nvidia commented on #413
changed the scope of this ticket from retrieval and ranking to ranking only. Retrieval code refactor is tracked separately.

[2022-07-15 14:56] #413 closed

[2022-07-15 17:19] viswa-nvidia commented on #343
We need  input on who will be assigned to these tasks in this ticket.

[2022-07-15 19:12] viswa-nvidia opened #465 "[RMP][POR] Plan of Record 22.08"
https://docs.google.com/document/d/1TX4cA9qOEIl8d9QR8wwYLOFn3e_SzAs-_Tv5Qc7AsYw/edit?usp=sharing

[2022-07-15 19:37] #270 closed

[2022-07-15 19:41] viswa-nvidia commented on #286
Pushing to arbitration - Examples,  documentation, work in core, systems is not captured  here.

[2022-07-15 19:52] viswa-nvidia commented on #418
The problem statement doesnt' articulate what customer value is being provided

[2022-07-15 20:34] gabrielspmoreira commented on #418
@viswa-nvidia I have refined the problem description a bit to highlight the value of the YouTubeDNN support

[2022-07-15 22:31] viswa-nvidia opened #467 "[RMP][POR] Plan of Record 22.09"
https://docs.google.com/document/d/1FNuZ7tTtMZIcllCs9mkxOe5xWou3bNkPQkGjMEOwBLk/edit?usp=sharing

[2022-07-15 22:37] rnyak opened #468 "[BUG] POC notebook gives error when TF version is 2.9.1"
### Bug description

I get error when we run [02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb) with TF version == 2.9.1.

[code]

### Steps/Code to reproduce bug

Run the Merlin [Building-and-deploying-multi-stage-RecSys](https://

[2022-07-15 22:37] rnyak commented on #468
@bschifferer for viz.

[2022-07-15 22:37] viswa-nvidia commented on #394
@benfred @jperez999 , who is doing which part of this work ?

Create a new repo from the Merlin repo template
 Dataloaders-Set up CI builds for the new repo
 Dataloaders-Migrate dataloader code from NVT or Merlin Models(?)
 Move the orchestration for each python GPU context on to the target GPU
 https://github.com/NVIDIA-Merlin/Merlin/issues/375
 Dataloaders-Publish new PyPi/Conda packages
 Datalo

[2022-07-18 12:41] MarkMoTrin opened #471 "[RMP] - Incorporate embeddings (pre-trained and encoder-based) into Transformers4Rec Training and Inference"
## Problem:
Two+ teams at Walmart (interest from Lowes Recsys team as well) would like to leverage encoder-based embeddings as additional features in Transformers4Rec. Currently, there is no clear example/path to pass in extra embeddings. This gap in feature prevents teams from adopting Transformers4Rec in production.

## Goal:
- Produce a comprehensive example on how to incorporate embeddings as

[2022-07-18 12:54] sararb opened #472 "[RMP] Support of advanced sequential tasks and the definition of examples"
## Problem:
Following the integration of session-based support (#451, #452), the missing component would be providing recsys practitioners with all the necessary blocks for advanced use-cases such as multi-task learning for item-level predictions and negative sampling support for the NextItemPrediction task.

## Goal:
- Implement the blocks and negative sampling strategies required for training wi

[2022-07-18 15:55] #216 closed

[2022-07-18 15:59] bschifferer commented on #286
I am following up on the discussion. I apologize for missing the discussion

@sohn21c - The minimum, we want to present, is the example you linked.

`Provide a clear example of a multi stage recommender pipeline that does retrieval, filtering, ranking and ordering.`

I think we need to discuss that goal. We discussed the proposal for the RecSys2022 Tutorial, we had `filtering` stage as optional. W

[2022-07-18 16:52] viswa-nvidia commented on #286
@jperez999 ,to check with @bschifferer and @rnyak  regarding op to lookup values and merge it back. If required a ticket has to be created.

[2022-07-18 18:20] bschifferer opened #473 "[Task] Update Criteo TensorFlow example to use Merlin Models and Merlin systems"
### Description

[2022-07-18 18:35] nv-alaiacano commented on #419
My impression is that batch inference for _models_ is required for cross-FW evaluation, not the full batch inference for a _system_. The additional steps in the Systems' computation graph (QueryFeast, QueryFaiss, Softmax, filtering, etc) would likely not be required for batch inference on a single Model. Batch inference for the model would have a simpler "training data in -> predictions out" proce

[2022-07-18 20:45] jperez999 commented on #286
https://github.com/NVIDIA-Merlin/Merlin/pull/474 <--- This PR shows how its done. It shows the initial request coming from the raw user id and then it shows the inference response has the appropriate raw item id.  Should be enough to show how to get this working. @rnyak @bschifferer @EvenOldridge @karlhigley

[2022-07-19 16:00] karlhigley commented on #419
We do have some batch prediction functionality for models already, but it's not quite structured in a way that would make it a reasonable foundation for batch processing of graphs. I think we could massage it in that direction though and try to standardize how batch graph processing works in Merlin Core by taking what exists and refactoring it in the right direction.

[2022-07-19 22:12] rnyak commented on #468
Can no longer repro this error, looks like https://github.com/NVIDIA-Merlin/models/pull/588 solved it.

[2022-07-19 22:12] #468 closed

[2022-07-20 16:27] EvenOldridge opened #475 "22.10 POR"

[2022-07-21 16:34] mkumari-ed commented on #361
@karlhigley and @rnyak
I tested it out with my correct data today. I am attaching all screenshots for visibility. With the list of strings feature(for ex. ['sipl_camera', 'build qnx', 'yuv', 'dl g']), I am unable to materialize the user features using feast. The error that I get is ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all(). Also, attach

[2022-07-21 19:31] viswa-nvidia commented on #418
The planned tasks don't seem to cover the problem statement. @EvenOldridge , please review

[2022-07-21 20:12] mkumari-ed commented on #361
So going back to our conversation in the past, I used `INT32_LIST` dtype for this list type column instead of `INT32` and I was able to materialize as well as use queryfeast operator in the successive steps. However it leads to another error now on the step where we create retrieval object using PredictTensorflow object.
![Screen Shot 2022-07-21 at 1 08 36 PM](https://user-images.githubusercontent

[2022-07-21 21:36] viswa-nvidia commented on #269
This ticket is not in POR. Need to refactor this ticket. there is another ticket covering negative sampling work [[RMP] Improve negative sampling for retrieval](https://github.com/NVIDIA-Merlin/Merlin/issues/464)

[2022-07-21 23:47] viswa-nvidia opened #476 "[Task] Deprecate old NGC containers"

[2022-07-22 14:59] MarkMoTrin commented on #471
[using-model-embeddings-nvtabular.pdf](https://github.com/NVIDIA-Merlin/Merlin/files/9168775/using-model-embeddings-nvtabular.pdf)

[2022-07-22 22:45] viswa-nvidia opened #477 "[RMP] Update the merlin-dependencies used in T4Rec"
This is a follow up ticket to track residual tasks originally tracked in this Roadmap ticket - [Transformers4Rec enhancements from recsys22 challenge ](https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/412)

Additional context:
Currently T4Rec is using dataloader from nvtabular (while it should use the new standalone [package](https://github.com/NVIDIA-Merlin/dataloader)) and same for schem

[2022-07-22 22:48] viswa-nvidia commented on #477
This is a follow up ticket to track residual tasks originally tracked in this Roadmap ticket - https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/412. The previously used ticket was not listed in the POR. @EvenOldridge to confirm if this is in scope for 22.08.

[2022-07-22 23:10] viswa-nvidia opened #478 "SWIPAT for Merlin-KV"

[2022-07-25 16:18] viswa-nvidia commented on #105
Closing this ticket. Example is pending and is planned for 22.08

[2022-07-25 16:18] #105 closed

[2022-07-25 16:46] viswa-nvidia commented on #343
@viswa-nvidia  follow up with Julio and check off done items

[2022-07-25 16:56] viswa-nvidia commented on #404
Gabriel to create a separate RMP ticket to track integration with higher level APIs

[2022-07-25 16:56] #404 closed

[2022-07-25 17:20] viswa-nvidia commented on #269
@rnyak , please check off the done work and close this ticket https://github.com/NVIDIA-Merlin/Merlin/issues/269

[2022-07-25 17:59] rnyak commented on #269
Let's keep it open due to https://github.com/NVIDIA-Merlin/models/issues/596

[2022-07-25 19:16] gabrielspmoreira opened #479 "[RMP] Enable users to pass embedding tables directly into the input block in order to more easily support new functionality (non-trainable embeddings, different dimensions, model parallel, etc)"
## Problem:
Customers want to be able to create embeddings that support a wide variety of options. The InputBlock handles the selection of these features through arguments, however we're up to 18 arguments and it's only going to get worse.
By separating input block definition from embedding creation we can allow for a much more flexible set of embeddings support with a simpler API.
The RMP NVIDIA-

[2022-07-27 01:23] viswa-nvidia commented on #471
Removing the milestone 22.09. This is not in the POR yet.

[2022-07-27 01:27] viswa-nvidia opened #480 "[RMP] Vertex AI integration for Merlin Systems (feature store, vector database, etc)"

[2022-07-27 15:42] karlhigley commented on #361
What does `model._saved_model_inputs_spec` look like for your retrieval model?

[2022-07-27 17:28] viswa-nvidia commented on #276
@sararb , could you please help to define this ticket.

[2022-07-27 23:24] benfred opened #484 "Dataloaders-Publish new PyPi/Conda packages"

[2022-07-28 14:26] rnyak opened #485 "[BUG] PoC unit test fails when we serve the model to TIS because of query feast error."
### Bug description

We  still get the following error from PoC example [unit test](https://github.com/NVIDIA-Merlin/Merlin/tree/main/tests/unit/examples).

You can run the test  with `pytest test_building_deploying_multi_stage_RecSys.py -s ` command and repro the issue.

you need to install testbook as well :`pip install testbook`.

[code]

I ran this in the `merlin-tensorflow:22.06` container.

[2022-07-28 19:21] mkumari-ed commented on #361
@karlhigley  In order to get the output of the above, I went and ran the pipeline again. But now, I am getting a different error at the step where I am fitting the model. Attaching the screenshots here.  I do get this error with and without including the list of strings feature column now. So I couldn't get to a point where I got the output of `model._saved_model_inputs_spec` to share it with you.

[2022-07-28 19:26] mkumari-ed opened #488 "[BUG] Model training using model.fit throws InternalError Exception encountered when calling layer "dot_product_interaction" (type DotProductInteraction)"
### Bug description

Model training using model.fit throws InternalError Exception encountered when calling layer "dot_product_interaction" (type DotProductInteraction) for both DLRM as well as two-tower model.

### Steps/Code to reproduce bug

1.  Please download the sample data and notebooks [from the link](https://drive.google.com/drive/u/1/folders/1IK-2P6SqkdT-sxDUn0PRmprih2xNQXOa)
2. 01-Build

[2022-07-28 19:27] mkumari-ed commented on #361
I have filed a new bug for the same: https://github.com/NVIDIA-Merlin/Merlin/issues/488

[2022-07-28 20:05] mkumari-ed commented on #488
Resolved on 22.06 container

[2022-07-28 20:05] #488 closed

[2022-07-28 20:27] mkumari-ed commented on #361
@karlhigley  here is the output for the retrieval model
`{'search': (TensorSpec(shape=(727237, 1), dtype=tf.int32, name='search_1'), TensorSpec(shape=(16384, 1), dtype=tf.int32, name='search_2')), 'userid': TensorSpec(shape=(16384, 1), dtype=tf.int32, name='userid'), 'contentid': TensorSpec(shape=(16384, 1), dtype=tf.int32, name='contentid'), 'eventtype': TensorSpec(shape=(16384, 1), dtype=tf.int3

[2022-07-28 22:58] viswa-nvidia commented on #394
Pushing it to prioritization to check if we will continue with examples in 22.09

[2022-07-29 08:56] bschifferer commented on #343
I do not understand this Roadmap ticket. I think the ticket should be `setup and cleanup integration tests for EXISTING Merlin example notebooks`. The ticket contains too many requests/examples, which are standalone features and not only integration tests.

I think we need to create following Roadmap tickets
`Inference Support for HugeCTR in Merlin Systems`:
- Create support for HugeCTR in Merlin

[2022-07-29 13:43] karlhigley commented on #361
I think the issue is happening while trying to get the `shape` of the `search` field, which looks like it might be in `values`/`offsets` format to handle variable length lists per example in the batch?

[2022-07-29 14:41] karlhigley commented on #361
@mkumari-ed Any chance you could share the model definition code and/or TF saved model file you're using to help me replicate the issue? (Slack would be fine if that works better.)

[2022-07-29 16:04] viswa-nvidia commented on #477
Prioritization - moved because - refactoring of prediction block is taking precedence over this ticket in 22.08. This has to be pushed to 22.09.

[2022-07-29 16:12] viswa-nvidia commented on #464
This RMP ticket has been prioritized over merlin  dependencies used in T4Rec

[2022-07-29 16:13] nv-alaiacano opened #489 "[RMP] Establish a metadata standard for serializing information about Merlin components"
## Problem:

In Systems, we need to know information about the various ops that go into an Ensemble. The primary one is the input/output schemas for the data and models that make up the ensemble.

We are able to infer some of this from eg the Tensorflow model, but are not able to do so from more flexible frameworks like pytorch or xgboost.

Saving an NVTabular workflow produces a [small amount of

[2022-07-29 16:23] mkumari-ed commented on #361
@karlhigley  Hi Karl, I just reached out to you on slack with file links and follow up questions. Please let me know.

[2022-07-29 18:14] karlhigley commented on #407
Closing https://github.com/NVIDIA-Merlin/models/issues/450 instead

[2022-07-29 18:20] benfred opened #490 "Dataloaders-Migrate dataloader code from NVT or Merlin Models(?)"

[2022-07-29 18:23] viswa-nvidia commented on #458
@rnyak , do you think this can happen in 22.08 ?

[2022-07-29 18:29] viswa-nvidia commented on #106
There is another ticket for Session based.

[2022-07-29 18:29] #106 closed

[2022-07-29 18:37] karlhigley commented on #458
AFAIK, we are on track for 22.08

[2022-07-29 18:42] viswa-nvidia opened #491 "Create a `PredictPytorch` operator that can be configured by the user to use the correct Triton backend:"

[2022-07-29 23:13] viswa-nvidia opened #492 "Dataloaders-Migrate dataloader code from NVT or Merlin Models(?)"

[2022-07-29 23:14] viswa-nvidia opened #493 "Dataloaders-Set up CI builds for the new repo"

[2022-07-29 23:14] viswa-nvidia opened #494 "Dataloaders-Set up CI builds for the new repo"

[2022-07-29 23:14] viswa-nvidia commented on #494
duplicate

[2022-07-29 23:14] #494 closed

[2022-07-30 14:47] m-hammad-khan opened #495 "[BUG] Facing pyarrow error while using feast in 01-Building-Recommender-Systems-with-Merlin example."
# ❓ Questions & Help

## Details

While running merlin 01-Building-Recommender-Systems-with-Merlin.ipynb example I am facing this issue. Currently, I am using NVIDIA pre-built image https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-tensorflow-training. I have tried `pip install pyarrow` but nothing changed.

<img width="1087" alt="image" src="https://user-images.githubuserc

[2022-08-01 00:01] rnyak commented on #495
@m-hammad-khan please use `merlin-tensorflow:22.06` container. It has both tensorflow and triton inference server installed, so you should not be getting the `pyarrow` error you get above. You only need to install `feast` and  `faiss-gpu`. You can run the following command in a jupyter cell:

`%pip install "feast<0.20" faiss-gpu`

[2022-08-01 16:37] karlhigley commented on #495
Yeah, we had to make some updates to the containers to build PyArrow with S3 support, since Feast requires it even if you're not using S3. 😕  Like @rnyak said though, the newer containers should have what you need pre-installed.

[2022-08-01 19:04] m-hammad-khan commented on #495
Thanks, @karlhigley @rnyak it works fine on the `merlin-tensorflow:22.06` image.

[2022-08-01 19:04] #495 closed

[2022-08-02 20:25] mkumari-ed commented on #361
Currently getting error at the step where we export graph as ensemble on search column.
![Screen Shot 2022-08-01 at 3 38 48 PM](https://user-images.githubusercontent.com/28987826/182466775-232cf3d0-1012-4830-bb1e-51ec6aac1b56.png)
![Screen Shot 2022-08-01 at 3 39 11 PM](https://user-images.githubusercontent.com/28987826/182466779-5ee753a5-86d9-4381-92ba-88efc19745f2.png)

[2022-08-03 04:18] #277 closed

[2022-08-03 16:21] mkumari-ed commented on #361
@karlhigley  Hi Karl, renaming the column from `search` to `search_1` didn't help in resolving the error that I get currently while exporting the graph as ensemble. It now complains of the missing `search_1` column in operatorSubsetColumns.
![Screen Shot 2022-08-01 at 3 39 11 PM](https://user-images.githubusercontent.com/28987826/182659356-c27ebea9-e7e7-48e5-941d-070a16a8fa15.png)
Here is the scre

[2022-08-03 16:23] EvenOldridge commented on #394
@benfred to create issues from the bullet point.

[2022-08-03 16:38] EvenOldridge commented on #433
@sararb @gabrielspmoreira can you flesh this out as best as possible in @marcromeyn's absence.

[2022-08-03 16:43] EvenOldridge commented on #433
@gabrielspmoreira what does the architecture look like for the system for session based?  Are we planning to use session generation to feed into a candidate generation stage?

[2022-08-03 17:56] benfred commented on #492
duplicate of #490

[2022-08-03 17:56] #492 closed

[2022-08-03 21:05] gabrielspmoreira commented on #433
@

@EvenOldridge the session-based recommendation works as a next-item prediction task. It can be seen as a retrieval model, where the query tower users a sequential model (e.g. RNN, Transformer) and outputs a query representation/vector. During inference, such vectors can be used to retrieve the similar items from ANN the same way a retrieval model does.
So we believe we wouldn't need anything sp

[2022-08-04 00:02] viswa-nvidia commented on #464
@sararb , are all the unchecked boxes on track for 22.08 ? let me know which ones are moving to later release

[2022-08-04 17:23] sararb commented on #464
@viswa-nvidia I have just updated the ticket with the tasks that are moving to later release.

[2022-08-04 18:16] viswa-nvidia commented on #361
@karlhigley , the last comment shows that the issue is not resolved. But status is done. I have moved it to WIP. Please review

[2022-08-04 22:33] karlhigley commented on #361
This is no longer the same (original) issue, which is why it was marked as done.

[2022-08-04 23:32] viswa-nvidia commented on #458
@karlhigley , is there a PR that closes this ?

[2022-08-04 23:36] viswa-nvidia commented on #255
@karl, do you see this getting over by 22.08?

[2022-08-04 23:47] rnyak commented on #458
@viswa-nvidia there is a [WIP PR ](https://github.com/NVIDIA-Merlin/Merlin/pull/496 )which addresses both
- using filtering op (currently giving error)
- returning raw item ids from triton

@EvenOldridge  shall I break this into 2 PRs and go with the `raw ids` option for now, since we get error from Filtering op?

[2022-08-05 00:26] viswa-nvidia commented on #255
@karlhigley , should this ticket also have these additional requirements that we discussed in the backlog grooming meeting?

- enable PyT T4R
     - Multi-gpu training
             - DP (working)
     - Serving
             - Python-backend (working)

[2022-08-05 17:43] viswa-nvidia opened #503 "Update Merlin Models to use the new dataloader package"

[2022-08-05 17:48] viswa-nvidia opened #504 "Dataloaders-CI infrastructure"

[2022-08-05 17:49] viswa-nvidia opened #505 "Offline Batch Processing - Create an abstraction that allows for creating a common data type to ensure that different operators with different frameworks can be supported by transforming data -> to common form -> framework specific form."

[2022-08-05 17:51] viswa-nvidia opened #506 "Create required operator level functions (predict, my_input_type, transform_df, etc...)- [ ] predict -> function that calls predict against model (support any framework)- [ ] my_input_type -> Function that returns the expected type of my inputs. (to be used by operator executor to ensure inputs are in correct format for next operator)- [ ] transform_df -> Function that can be used to house generic operator execution behavior. Should mimic what is happening in inference op logic."

[2022-08-05 17:51] viswa-nvidia opened #507 "Create an executor that will run the ops in the graph."

[2022-08-05 17:54] karlhigley commented on #255
No, because they're not part of the scope as described at the top of this issue and they've already been completed

[2022-08-05 17:55] karlhigley commented on #458
I'd definitely put those two pieces of functionality in separate PRs (which is generally a good practice)

[2022-08-05 18:02] viswa-nvidia opened #508 "Sample issueNote: Move tickets to the right repository"

[2022-08-05 18:03] #508 closed

[2022-08-05 18:28] viswa-nvidia commented on #407
Based on discussion with Karl, the tasks are not fully listed down

[2022-08-05 18:32] viswa-nvidia opened #509 "[RMP] System level evaluation metrics"

[2022-08-05 19:41] viswa-nvidia opened #510 "Dataloaders-Docs update"

[2022-08-05 19:41] viswa-nvidia opened #511 "Update Merlin Models to use the new dataloader package"

[2022-08-05 19:41] viswa-nvidia opened #512 "Update nvtabular to use the new dataloader package"

[2022-08-05 19:42] viswa-nvidia opened #513 "Update Transformers4Rec to use new dataloader package"

[2022-08-05 19:42] viswa-nvidia opened #514 "Dataloaders-Comparison to petastorm, tensorflow, default pytorch dataloader"

[2022-08-05 19:42] viswa-nvidia opened #515 "Dataloaders-Readme"

[2022-08-05 19:42] viswa-nvidia opened #516 "Dataloaders-CI infrastructure"

[2022-08-05 20:01] viswa-nvidia opened #517 "The `Embeddings` function is very handy to infer the embeddings definition from the schema. Make it more flexible by adding a `non_trainable: Optional[List[str]] = None` argument, to set `EmbeddingTable.trainable=False` (default is True) for the features present in the list."

[2022-08-08 13:16] m-hammad-khan opened #519 "[QST] Facing triton server out of memory error while running Merlin example."
# ❓ Questions & Help

## Details

I am getting this error while running the triton server. I am currently using the `merlin-tensorflow:22.06` container on AWS EC2 `p3-2xlarge-gpu` instance. I have also restricted the dataset size to 10_000.

<img width="903" alt="image" src="https://user-images.githubusercontent.com/97903979/183429116-d9540b42-315b-49ca-86e9-81418d3c90fc.png">

<img width="698" al

[2022-08-08 16:58] viswa-nvidia commented on #269
Closing as bug is tracked seperately

[2022-08-08 16:58] #269 closed

[2022-08-08 17:04] viswa-nvidia commented on #458
@rnyak , tag the PR and close it

[2022-08-08 17:33] karlhigley opened #522 "[RMP] T4R fixes: MultiGPU data parallel training for next-item prediction and fixed serving"
## Problem:
We have customers who would like to use multi-GPU Transformers4Rec but are blocked by issues with our existing support for session-based models.

## Goal:
- Unblock customer use cases so they can try out T4R to give us feedback

## Constraints:
- We don't yet have Torchscript support (which is out of scope this issue)

## Starting Point:

- [x] Enable `DataParallel` / `DistributedDataP

[2022-08-08 21:19] karlhigley commented on #286
Updated the title to include the scope of code changes required by the RecSys Demo

[2022-08-08 21:44] rnyak commented on #519
@m-hammad-khan we have two notebooks under `Building-and-deploying-multi-stage-RecSys`. when you execute the first one, and move to the second notebook, please shutdown the first, so that you can free the GPU memory. is that the way you are following?

Also this is how launch my container locally
[code]

using `shm-size` and other extra flags might help.

[2022-08-08 21:46] m-hammad-khan commented on #519
@rnyak  yes I have closed the first notebook to free up the GPU memory, let me try using `shm-size` flag.

[2022-08-08 22:55] m-hammad-khan commented on #519
@rnyak it works perfectly now, thanks!

[2022-08-08 22:55] #519 closed

[2022-08-08 23:16] karlhigley commented on #522
Distributed Data Parallel training is something we want to do, but I don't think it's part of this effort to fix the immediate blockers. Does that match what y'all understand, @EvenOldridge @viswa-nvidia?

[2022-08-09 16:32] viswa-nvidia opened #525 "[RMP]Sample issue1"
## Problem:

## Goal:

## Constraints:

## Starting Point:

- [x] #526
- [ ] Sample Task 2
- [ ] Sample Task 3

[2022-08-09 16:33] viswa-nvidia opened #526 "Sample Task 1"

[2022-08-09 16:33] #526 closed

[2022-08-09 16:33] #525 closed

[2022-08-09 17:40] viswa-nvidia opened #527 "[RMP]sample rmp ticket"
## Problem:

## Goal:

## Constraints:

## Starting Point:

- [ ] #528
- [ ] #529

[2022-08-09 17:43] viswa-nvidia opened #528 "sample task 1"

[2022-08-09 17:44] viswa-nvidia opened #529 "sample task 2"

[2022-08-09 20:27] viswa-nvidia opened #530 "[Task]Add automations to Merlin execution project"
### Description

- [ ] Add PRs automatically to Merlin execution project
- [ ] Needs triage should be assigned only to bugs and tickets filed by external members

**Additional context**
Add any other context, code examples, or references to existing implementations about the task here.

[2022-08-09 20:40] viswa-nvidia opened #531 "[Task]Add all Merlin repos to nspect scan"
### Description
Currently only NVTabular and HugeCTR repos are in nspect scan.
Add the new repos such as Systems, Core, Models, Transformers4Rec etc. to the Merlin repo
All new public repos should be added to nspect scan

[2022-08-09 22:53] sohn21c commented on #522
Binary Classification DP training would unblock the issue although DDP is preferred if more performant. More details are captured [here](https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/423)

[2022-08-09 23:59] viswa-nvidia commented on #255
@karlhigley , the original ask from product team  is Session based recommender - Add PyT API to Merlin models / Systems. This ticket only covers  the systems side and not models. I think this should be a [Task] that must be part of a RMP ticket that will cover the models side also. Let me know your thoughts on this.

[2022-08-10 00:03] viswa-nvidia opened #534 "[RMP] Merlin Models PyTorch API"
Note: This ticket needs to capture the models related work also.

## Problem:
Adding PyT api to Merlin models

## Goal:

## Constraints:

## Starting Point:
[[RMP] Provide serving support for PyTorch models](https://github.com/NVIDIA-Merlin/Merlin/issues/255)

- [ ] Enable Distributed Data Parallel training
  - [ ] Next item prediction
  - [ ] Binary classification

- [ ] Example of how to migrate

[2022-08-10 00:14] viswa-nvidia opened #535 "[RMP] Cloud Integration (AWS Sagemaker)"

[2022-08-10 00:18] viswa-nvidia opened #536 "[RMP] Multi-GPU Data Parallel training for Tensorflow in Merlin Models"
## Problem:
Single GPU training takes significantly longer than multi-gpu.  Customers would like to be able to accelerate their training workflows by distributing training across multiple GPUs on a single node.

## Goal:
Enable customers to do data parallel training within Merlin Models training pipeline.

## Constraints:
 - Single node
 - Embedding tables fit within the memory of a single gpu
 -

[2022-08-10 02:05] karlhigley commented on #522
Either DistributedDataParallel training is part of the scope of the quick fixes or it isn't, and it sounds like it isn't so we should track that work somewhere (but not here.)

[2022-08-10 02:07] karlhigley commented on #255
@viswa-nvidia That was my original thought too, until I got talked out of it. 🤷🏻

[2022-08-10 16:48] viswa-nvidia commented on #449
This development may be required once we merge this PR https://github.com/NVIDIA-Merlin/Merlin/pull/496

[2022-08-10 16:51] viswa-nvidia commented on #286
@rnyak , do you have a doc that captures the details of the planning for the recsys tutorial ?

[2022-08-10 16:53] viswa-nvidia commented on #286
https://docs.google.com/document/d/14iQH9mA_SR3HJLqaisB6wybmIJidT2yQRSNUslqVy6U/edit

[2022-08-10 16:58] viswa-nvidia commented on #480
James to discuss with Karl

[2022-08-11 00:41] viswa-nvidia commented on #447
@benfred , please update the status for this ticket. Can this be closed? if not, does this qualify for P0 ?

in the email thread, this was the last communication from Shokoufeh Monjezi Kouchak

Clone this bug https://nvbugs/3597709 .  In the bug, explain that you have these containers already published, you want to add quick deploy feature to them. And ask them to add these containers to vertexAI

[2022-08-11 00:48] viswa-nvidia commented on #395
Duplicate of https://github.com/NVIDIA-Merlin/Merlin/issues/531

[2022-08-11 00:48] #395 closed

[2022-08-11 00:51] viswa-nvidia commented on #180
This is an old ticket. Bash was completed.

[2022-08-11 00:51] #180 closed

[2022-08-11 00:53] viswa-nvidia commented on #161
@karlhigley , can we close this issue ? If not, please assign a priority

[2022-08-11 00:54] viswa-nvidia commented on #137
@karlhigley , @benfred , can we close this ticket?

[2022-08-11 00:55] viswa-nvidia commented on #189
@bschifferer , please triage this bug

[2022-08-11 00:56] viswa-nvidia commented on #197
Vulnerabilities are tracked in each release. Closing this old one.

[2022-08-11 00:56] #197 closed

[2022-08-11 00:57] viswa-nvidia commented on #209
@mikemckiernan , can we close this ?

[2022-08-11 00:58] viswa-nvidia commented on #210
Marked done in another project. Closing this here.

[2022-08-11 00:58] #210 closed

[2022-08-11 00:59] viswa-nvidia commented on #170
@mikemckiernan , please take a look. close it if its already done.

[2022-08-11 01:00] #181 closed

[2022-08-11 01:01] viswa-nvidia commented on #171
@karlhigley , should we track this still?

[2022-08-11 01:05] #171 closed

[2022-08-11 01:05] karlhigley commented on #137
AFAIK, the template repo hasn't ever been completed, so if we intend to drop the work then we can close it, but otherwise it should stay open

[2022-08-11 01:06] #161 closed

[2022-08-11 07:33] bschifferer commented on #209
I guess this is related tot he old examples. We havent had time working on them, yet

[2022-08-11 07:34] bschifferer commented on #189
I dont know if this bug is still valid - it is from April 6th. I havent worked on SOK + dataloader since then. But if we want to provide both, then this is important

[2022-08-11 08:14] oliverholworthy commented on #171
For reference there is some feature crossing functionality in some of the models code today:

-  [`DotProductInteraction`](https://github.com/NVIDIA-Merlin/models/blob/6d47dd3872a1b3f332a76c483dcf8d3155429ef0/merlin/models/tf/blocks/interaction.py#L25) - used in the implementation of DLRM (computes a pairwise dot product of embeddings)
- [`CrossBlock`](https://github.com/NVIDIA-Merlin/models/blob/

[2022-08-11 14:31] karlhigley commented on #171
@oliverholworthy Yeah, I think the question was about whether we should support that a feature pre-processing operation

[2022-08-11 15:25] karlhigley opened #539 "[BUG] Multi-stage notebook integration test uses a path that isn't defined"
### Bug description
The test set-up for the multi-stage notebook integration test tries to use `output_path` but `output_path` is not defined

### Steps/Code to reproduce bug
Run the multi-stage notebook integration test

### Expected behavior
Test should pass

### Environment details
Shows up in integration test runs on Blossom

### Additional context
[code]

[2022-08-11 17:32] karlhigley opened #540 "[Task] Publish a `latest` tag for the Merlin base image"
### Description
Publish an additional tag on the [Merlin base image](https://ngc.nvidia.com/containers/nvstaging:merlin:merlin-base/tags) that points to the most recently released version. (Not an additional image, just an additional tag that points at the same image.)

**Additional context**
This would allow us to update the nightly builds to use the `latest` tag, which would avoid the need to ma

[2022-08-11 17:33] karlhigley commented on #540
@jperez999 I think we're already doing this for some of the other repos, but I'm not sure how to do it with NGC

[2022-08-11 18:22] rnyak opened #542 "[BUG] Multi-stage Recsys deployment notebook is broken"
### Bug description

I get the following error from the [02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb) notebook, when I execute the `ensemble = Ensemble(ordering, request_schema) ` command.

[code]

### Environment details
- Me

[2022-08-12 01:17] radekosmulski commented on #539
Looking into this now!

I am not sure what changed about the containers, but having trouble running the examples after installing `feast` using the instructions provided in the notebooks

[code]

[2022-08-12 01:25] radekosmulski commented on #539
But if follow the installation instructions in the notebook and install `tensorflow-cpu` along with `faiss-cpu`, you get the following mhmm

![image](https://user-images.githubusercontent.com/2444926/184268254-61be01c8-da31-48f1-b38f-1dd99a29c25a.png)

[2022-08-12 13:28] nv-alaiacano commented on #542
There seems to be a general issue with SoftmaxSampling since these two PRs were merged:

* https://github.com/NVIDIA-Merlin/systems/pull/155
* https://github.com/NVIDIA-Merlin/systems/pull/154

We should fix or revert those changes before 22.08 is released.

[2022-08-12 13:30] nv-alaiacano commented on #542
note that this test is skipped during CI builds in order to get docker images to publish, but the bug still exists.

[2022-08-12 22:19] viswa-nvidia commented on #189
@bschifferer ,  is this a P0 or P1 ?

[2022-08-14 23:29] radekosmulski opened #545 "[RMP] Define Merlin Models high level API and align wrapper classes for traditional models with it"
## Problem:

At the moment, different models have different APIs. This is unintuitive for the user. For instance, the `XGBoost` wrapper accepts a `schema` and `target_columns`, where `implicit` and `LightFM` do not. This makes it challenging for a user to create a unified workflow for experimentation and has other undesirable effects. For instance, it is not obvious that schema on a `Merlin Datase

[2022-08-15 16:58] viswa-nvidia commented on #361
@mkumari-ed , the original issue is done. But we cannot close this because other issues have been added to the thread. Please create separate tickets and let us know and we. will close this ticket. Thank you.

[2022-08-15 17:16] viswa-nvidia commented on #522
@gabrielspmoreira , please create a ticket for DP training binary classification and link it here.

[2022-08-15 17:59] #539 closed

[2022-08-15 19:30] bschifferer opened #546 "[Task] Updating Merlin Merlin examples with new Merlin logo"
### Description
Updating all example notebooks to have a customized NVIDIA logo

[2022-08-15 19:32] bschifferer opened #547 "[Task] Write a blog post about the RecSys2022 challenge"
### Description

[2022-08-15 19:33] bschifferer opened #548 "[Task] Write a blog post about TwoTower E-Mail Use Case"
### Description

[2022-08-15 20:18] viswa-nvidia commented on #471
@benfred , @jperez999 ,
Review this ticket and add planning details.  It is still in needs definition.
Convert the check boxes to tickets in the specific repos ( Please remember to update the initiative field )
Once you are satisfied with the planning change status to RMP review
[Refer to this doc for the workflow](https://docs.google.com/document/d/1tyq9sWZvgF3nO3R4r3knOoXAXRjDhNAq0qRsqHTdb6o/edi

[2022-08-15 22:18] gabrielspmoreira commented on #522
@viswa-nvidia @EvenOldridge
Me, @rnyak, @sararb and @nzarif met today about the issues related to `DataParallel`.
We tested `DataParallel` for Next Item Prediction for one of the examples and it is not working, differently from what Sara found some weeks ago in another example.
So we have both Next Item Prediction and Binary Classification not working with DataParallel currently.
We have associate

[2022-08-16 14:19] karlhigley commented on #522
I don't think we should split the issue, let's just target this for 22.09

[2022-08-16 17:27] mengdong opened #550 "[BUG] Error when apply two-tower model to customized dataset"
### Bug description
When applying customized dataset to two-tower model, ran into issues getting the ragged shapes to line up with the built in models.

### Steps/Code to reproduce bug
[code]

### Expected behavior
merlin should accept the customized shape

### Environment details
NGC merlin TF training container 22.04

### Additional context
repo at: https://github.com/jswortz/spotify_mpd_two_tow

[2022-08-16 17:34] viswa-nvidia opened #551 "[Task] Adding download tracking on Merlin examples"
Note: This is a task that must be listed under a strategic initiative. Revisit this during the backlog grooming

## Goal:
To allow tracking on Merlin assets on github repo

## Scope:
Merlin examples to contain uniquely named images to allow tracking download counts

Note:
https://docs.google.com/presentation/d/1NVZhtFkCHm_cOq5SpTqR6heMUWMyJZ2Xsjfywdk0VeI/edit#slide=id.g13ccf79b500_0

## Constraint

[2022-08-16 17:38] viswa-nvidia commented on #551
@sohn21c , this is a  task that must be listed under a strategic initiative. What is the initiative ?

[2022-08-16 17:39] rnyak commented on #550
I am looking in to that.

[2022-08-16 19:31] nv-alaiacano commented on #542
This _should_ be resolved with https://github.com/NVIDIA-Merlin/systems/pull/172 and https://github.com/NVIDIA-Merlin/systems/pull/171. Waiting for verification.

[2022-08-16 19:31] #542 closed

[2022-08-17 12:58] rnyak commented on #550
@mengdong  Please see my input above. The error is  due to feeding variable-length continuous list columns to the Two-Tower model. This is problematic for now due to the tuple representation of list columns.  Currently we don’t support variable-length multi-hot continuous columns out of the box. This will be worked in near future.

[2022-08-17 14:23] nv-alaiacano commented on #212
What do you all think of breaking the full-dataset runs out from the notebook examples? They could be jobs scheduled to run daily on the latest docker images and latest `main` branches of each library. Some reasons it could be useful are:

* We can run the Merlin notebook integration tests (on sampled data) faster, and therefore can run them in PRs for each of the other libraries to make sure a ch

[2022-08-17 14:26] karlhigley commented on #212
Yeah, I think that makes sense as the next incremental step from where we are now

[2022-08-17 16:31] oliverholworthy commented on #471
For small embedding tables (fit in GPU memory). Using a tensor initializer is the currently supported functionality for pre-trained embedding tables. An example in [this notebook](https://github.com/NVIDIA-Merlin/models/blob/1dfea5ef6196468420749bf9a7fbfaeef838f20c/examples/usecases/entertainment-with-pretrained-embeddings.ipynb ):

[2022-08-17 16:33] rnyak commented on #211
@EvenOldridge @karlhigley  we now have an [example](https://github.com/NVIDIA-Merlin/models/blob/main/examples/usecases/entertainment-with-pretrained-embeddings.ipynb) for using pre-trained embeddings in MMs, but have a way of freezing them. fyi.

[2022-08-17 16:58] EvenOldridge commented on #211
https://github.com/NVIDIA-Merlin/Merlin/issues/471 has details on the customer request side.

[2022-08-17 21:36] jswortz commented on #550
Thanks was able to reproduce and train on my end that training works [link](https://github.com/jswortz/spotify_mpd_two_tower/blob/master/recommender-vertex-merlin.ipynb)

[2022-08-17 22:39] EvenOldridge commented on #489
@nv-alaiacano  Seems like this would solve a number of issues for us on the systems side.  Is this beneficial for session-based or should we postpone until after that work is done?  Trying to figure out where to slot this in.

[2022-08-17 22:47] EvenOldridge commented on #551
@viswa-nvidia This is a minor task, not a roadmap level issue

[2022-08-17 22:49] EvenOldridge commented on #527
Closing

[2022-08-17 22:49] #527 closed

[2022-08-17 22:57] EvenOldridge commented on #107
Duplicate of https://github.com/NVIDIA-Merlin/models/issues/415

[2022-08-17 22:57] #107 closed

[2022-08-17 22:59] viswa-nvidia commented on #418
@marcromeyn , what is this task blocked on ?

[2022-08-17 23:19] EvenOldridge commented on #255
@edknv does the work you've done for Transformers4Rec support this functionality from the model training side?
@karlhigley excluding onnx support can we currently serve Torchscript based models in systems?
Looking to close this

[2022-08-18 13:52] karlhigley commented on #255
Each side of this equation works independently, but no one has tested them together AFAIK, so we're not ready to close this yet

[2022-08-18 13:55] karlhigley commented on #489
Since this work isn't a customer-facing Merlin-level feature that makes sense for product to prioritize, we'll likely go ahead and do this work whenever it's necessary. I expect that at least the schemas part will be beneficial for sequence models, so we're having a chat about that part this morning.

[2022-08-18 13:55] karlhigley commented on #107
Am I wrong in thinking we want all the RMP issues on the Merlin repo?

[2022-08-18 17:29] rnyak commented on #211
@EvenOldridge yes we need this for TF4Rec. And I created this ticket  https://github.com/NVIDIA-Merlin/Transformers4Rec/issues/475 for that.

[2022-08-19 15:44] gabrielspmoreira opened #553 "[RMP] Provide to our customers best practices guidance for training Retrieval, Ranking and Multi-Stage RecSys models"
## Problem:
Merlin platform provides tools for building multi-stage recommender systems (which we are going to present at RecSys’22 conference on our tutorial and demo).
In particular, the retrieval and ranking stages are implemented in Merlin Models library and tied together during inference with Merlin Systems library.
Although we provide to our customers an implementation of retrieval and ranki

[2022-08-19 21:47] EvenOldridge commented on #255
@rnyak @bschifferer can one of you please test this functionality and ensure that we're able to save models via torchscript and serve via systems.  I think this is relevant to a number of your customers.

[2022-08-20 19:53] karlhigley commented on #255
I'm working on an integration test for that here, but it isn't working yet: https://github.com/NVIDIA-Merlin/systems/pull/176

[2022-08-22 17:00] viswa-nvidia commented on #457
Duplicate

[2022-08-22 17:00] #457 closed

[2022-08-22 20:27] rnyak commented on #485
Closing since I am the only one can repro this at her env.

[2022-08-22 20:27] #485 closed

[2022-08-24 14:11] nv-alaiacano opened #557 "[Task] Run Merlin notebook tests from Systems repo"
### Description

When we make changes in `systems` we will want to run the example notebooks in the `Merlin` repo using the current branch of `systems`. This will ensure that any changes to systems will not break the end-to-end demos/integration tests, which has been an issue lately and came up in our retrospective.

The process will be:

* Create a python venv using tox
* Check out the `main` bra

[2022-08-24 15:18] nv-alaiacano commented on #557
First PR towards this was getting tox working on jenkins: https://github.com/NVIDIA-Merlin/systems/pull/180

[2022-08-24 17:16] viswa-nvidia commented on #256
Serving: implementation in progress for the serving operator in systems . Blocked in issues related to the HCTR library.

[2022-08-24 18:08] mikemckiernan commented on #397
Fixed by https://github.com/NVIDIA-Merlin/NVTabular/pull/1591 and https://github.com/NVIDIA-Merlin/HugeCTR/pull/327.  FWIW, Emma did the work for HugeCTR.

[2022-08-24 18:08] #397 closed

[2022-08-25 15:56] nv-alaiacano commented on #557
Finished here: https://github.com/NVIDIA-Merlin/systems/pull/183

[2022-08-25 15:58] #557 closed

[2022-08-25 16:17] viswa-nvidia commented on #433
@karlhigley , is the systems section here updated. Pleaes review

[2022-08-25 16:38] karlhigley commented on #433
It is up to date with the current state of our knowledge of the work

[2022-08-25 17:31] #170 closed

[2022-08-26 12:03] marcromeyn opened #562 "Add select_by_tag to ParallelBlock"

[2022-08-29 19:50] viswa-nvidia commented on #433
@marcromeyn , in one of the meetings, I made a note that this task is dependent on some tasks covered in RMP479-EMBEDDINGS initiative [[RMP] Enable users to pass embedding tables directly into the input block in order to more easily support new functionality (non-trainable embeddings, different dimensions, model parallel, etc)](https://github.com/NVIDIA-Merlin/Merlin/issues/479) . Is this correct

[2022-08-30 08:39] marcromeyn opened #567 "Implement PredictNext, PredictLast & PredictRandom"

[2022-08-30 08:39] marcromeyn opened #568 "Implement PredictMasked"

[2022-08-30 10:21] marcromeyn opened #570 "Add select_by_tag to ParallelBlock"

[2022-08-30 10:21] marcromeyn opened #571 "Add SequenceInputBlock"

[2022-08-30 10:21] marcromeyn opened #572 "Add from_dataset & to_dataset to EmbeddingTable"

[2022-08-30 10:24] marcromeyn opened #573 "Add capability to EmbeddingTable to hold multiple features that share id-encoding"

[2022-08-30 11:10] marcromeyn opened #574 "Add EncoderBlock & BiEncoderBlock"

[2022-08-30 11:10] marcromeyn opened #575 "Refactor CategoricalPrediction to not be contrastive and add ContrastivePrediction"

[2022-08-31 17:00] EvenOldridge commented on #536
@marcromeyn can you flesh this out a little further.

[2022-08-31 18:12] #528 closed

[2022-09-02 13:29] nv-alaiacano commented on #109
Closing this. If the subject comes up again, we can re-assess.

[2022-09-02 13:29] #109 closed

[2022-09-02 21:20] karlhigley commented on #211
If I'm understanding correctly, it sounds like the underlying customer request involves the dataloaders, the T4R library itself, and Merlin Systems (but not NVT.) Would it make sense to scope this issue more tightly to the customer request and punt additional features to a subsequent issue?

[2022-09-02 21:21] karlhigley commented on #211
It also sounds like the customer request necessarily involves having PyTorch serving for T4R worked out. Assuming that the (known-to-be-slow) Python serving isn't sufficient, sounds like we'll need to work out the issues with Torchscript serving.

[2022-09-03 02:02] viswa-nvidia opened #585 "Provide inference support for lightfm based models in Merlin Systems"

[2022-09-03 02:41] viswa-nvidia opened #586 "[Task]"
## Problem:
- Build issues are found late in the release process
    - Untracked changes to requirements and build processes of these pacakages are introduced
    - As part of the release process issues with upstream dependencies are not tracked
    -  RC builds of base container are not being used in the nightly
-  PRs cannot be merged
-

## Goal:

## Constraints:

## Starting Point:

[2022-09-03 03:11] viswa-nvidia opened #588 "Create pipeline to build/test Merlin containers ( Base container (GA) + Merlin (nightly/EA))"

[2022-09-03 03:11] viswa-nvidia opened #589 "Create pipeline to build/test Merlin containers ( Base container (EA) + Merlin (GA))"

[2022-09-05 08:38] marcromeyn opened #592 "Extract unrolling logic out of Aggregation into Unroll & make it mask-aware"

[2022-09-06 01:59] radekosmulski opened #593 "[Task] Create a set of notebooks (data preprocessing, model training) on the H&M data"
### Description

The goal is to create a set of notebooks on the H&M data. This might be a nice way to demonstrate data preprocessing and various models.

**Additional context**

This could genuinely be interesting to the public. Additionally, it would give me a chance to experiment a bit more with the DCN and DLRM model before the GTC session (will begin researching these models to make sure I fu

[2022-09-06 12:38] marcromeyn opened #594 "Add TopKCategoricalPrediction"

[2022-09-06 12:43] marcromeyn opened #595 "Add Huggingface transformers as a backend"

[2022-09-06 16:42] nv-alaiacano opened #597 "[FEA] add ability to use a "subgraph" of an NVT workflow"
# 🚀 Feature request

We should have a way to fit a NVT workflow to a dataset, and then export a portion of the resulting workflow for use in a serving context. The "subgraph" capability was added to [core](https://github.com/NVIDIA-Merlin/core/blob/fbfcaf398605398b9b72b9310d313f362b147ab6/merlin/dag/graph.py#L47-L50) and we need to extend it to NVTabular.

## Motivation

A motivating example for t

[2022-09-06 17:35] sararb opened #598 "Port TransformerBlock"

[2022-09-06 19:42] nv-alaiacano opened #599 "[Task] Projection report on hardware needs for CI"
We need to create a report about the current state of our CI load with a projection into the future, including hardware matrix testing, unit/integration test loads, etc.

[2022-09-07 07:36] bschifferer opened #600 "[Task] Report Notebook unittest/CI"
### Description
Create a report which notebook unit tests and CI are executed in which test environment (nightly CI, Jenkins, github actions, etc.) for all repos

[2022-09-07 13:52] karlhigley commented on #600
You may find [this spreadsheet of example notebook coverage per container](https://docs.google.com/spreadsheets/d/1yJJK1CPqs6KShrZeAFH9G0FL-TlZN5LWU0tpaaFzR04/edit#gid=0) useful

[2022-09-07 17:44] karlhigley commented on #471
@MarkMoTrin When you say "encoder-based embeddings as additional features," does that imply encoding an item attribute (like "text description") using an external model (like BERT) and supplying the resulting embeddings as features for each item in a session? We're not talking about adding a single embedding as a session-level feature, we're talking about adding a list of embeddings as item-level

[2022-09-08 16:39] karlhigley commented on #199
No longer the case after we combined the training/inference containers into a single container per framework

[2022-09-08 16:39] #199 closed

[2022-09-08 16:46] karlhigley commented on #374
Not sure if this is still an issue, but if it is, we expect this issue to be resolved by upcoming work to migrate Systems ensemble graph execution off of Triton ensembles and into a single `TritonPythonModel`.

[2022-09-08 16:46] #374 closed

[2022-09-08 19:27] viswa-nvidia opened #604 "Add DataAugmentation base-class"

[2022-09-08 19:29] viswa-nvidia opened #605 "Refactor RetrievalModel to support Session-based models"

[2022-09-08 19:32] viswa-nvidia opened #607 "Add from_dataset & to_dataset to CategoricalPrediction & ContrastivePrediction"

[2022-09-08 19:33] viswa-nvidia opened #608 "Port LSTMBlock"

[2022-09-08 19:33] viswa-nvidia opened #609 "Port GRUBlock"

[2022-09-08 19:38] viswa-nvidia opened #610 "Examples from Transformers4Rec in Merlin Models (Getting Started, End to end)"

[2022-09-08 19:41] viswa-nvidia opened #611 "Investigate what work is required in systems side for serving TF session based models. What kind of SLA do we need for practical performance. Under what batch size/data."

[2022-09-08 19:44] viswa-nvidia opened #612 "Define NextITemPredictionTask as a sub-class of RetrievalModel.Note: Make sure we can export the encoder block (Transformer or RNN) together with a SequenceSummary post layer as the query tower."

[2022-09-08 19:45] viswa-nvidia opened #613 "Export the item embeddings table for the ANN index"

[2022-09-09 17:29] viswa-nvidia opened #614 "[Task] Bump dependency versions for 22.09"
### Problem
22.08 was delayed due to dependency issues with cuDF. We haven't yet checked if there are any build issues if we bump the versions for 22.09.

### Scope

- [x] Bump dependency versions
- [x] Review build failures
- [x] Make recommendation on which versions should be pinned to avoid build failures

[2022-09-12 16:51] mikemckiernan commented on #551
Closing this task as a dup of https://github.com/NVIDIA-Merlin/Merlin/issues/546.

[2022-09-12 16:51] #551 closed

[2022-09-12 16:54] viswa-nvidia commented on #286
moved pending tasks to eng-improvement. Closing this ticket as Recsys work is complete

[2022-09-12 16:54] #286 closed

[2022-09-12 17:28] viswa-nvidia commented on #550
@rnyak , a feature request already exists. please link and close

[2022-09-12 17:29] viswa-nvidia commented on #614
All green

[2022-09-12 17:29] #614 closed

[2022-09-12 17:47] #209 closed

[2022-09-12 19:11] rnyak commented on #550
will be addressed via https://github.com/NVIDIA-Merlin/models/issues/660

[2022-09-12 19:11] #550 closed

[2022-09-13 00:37] rhdong commented on #211
To my best knowledge, TensorFlow has a warm start mechanism as a similar function. I think they have a meaningful design; maybe we can be inspired by it:  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/warm_starting_util.py#L419
I know some end-user using this API, and the `regular expression` can give the user more convenience.

[2022-09-13 21:31] rnyak commented on #437
@sontung2310 is this still an issue for you? can you please check out our examples and rerun with your `merlin-tensorflow:22.07`  (or the latest tag) notebook?

Also please note that you cannot save entire Two-tower model now, you can save query tower. Please  follow this example  [01-Building-Recommender-Systems-with-Merlin.ipynb](https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Buildin

[2022-09-13 21:31] #437 closed

[2022-09-13 21:43] rnyak commented on #339
@sejal9507 closing this issue since we did not hear back from you. Please reopen in case you still have an issue.

[2022-09-13 21:43] #339 closed

[2022-09-13 22:16] EvenOldridge commented on #346
@bpark-nvidia our container now supports Faiss on A100.

[2022-09-13 22:16] #346 closed

[2022-09-13 22:18] EvenOldridge commented on #289
Hi @yuxiangl, can you please post over on https://github.com/rapidsai/cudf

We use cudf as a core library but we don't support it within this team.

[2022-09-13 22:18] #289 closed

[2022-09-13 22:18] EvenOldridge commented on #228
We're working on this.  Will let you know when there's an update.

[2022-09-13 22:18] #228 closed

[2022-09-26 02:26] sontung2310 commented on #437
@rnyak Have you ever trying to training with more epochs than one in both retrieval model and two tower model? Did the val_loss_total is became higher as well as training epochs increase?

Also in your examples, item_embs was extracted by entire query model not only query block. (**item_embeddings** was the method of entire model **model_tt**)

![image](https://user-images.githubusercontent.com/62

[2022-09-26 16:48] viswa-nvidia opened #631 "Documentation / Example use cases for Data Parallel training"

[2022-09-26 16:54] viswa-nvidia commented on #479
Note comment for https://github.com/NVIDIA-Merlin/models/issues/605

[2022-09-26 16:54] #479 closed

[2022-09-26 17:04] viswa-nvidia commented on #433
@rnyak , please link the systems - multi hot related development

[2022-09-26 17:17] gabrielspmoreira commented on #536
This is a related ticket [#764 - [BUG] Models does not support to tf.distribute.MirroredStrategy() for data parallel training](https://github.com/NVIDIA-Merlin/models/issues/764)

[2022-09-26 19:58] #272 closed, assigned to EvenOldridge

[2022-09-26 19:58] #403 closed

[2022-09-26 20:00] bschifferer commented on #547
It was published: https://medium.com/nvidia-merlin/building-a-diverse-models-ensemble-for-fashion-session-based-recommendation-for-recsys2022-2419d2182c4c

[2022-09-26 20:01] bschifferer commented on #546
It was closed via https://github.com/NVIDIA-Merlin/Merlin/pull/569

[2022-09-26 20:01] #546 closed

[2022-09-26 20:01] #547 closed

[2022-09-26 20:23] #218 closed

[2022-09-26 20:58] bschifferer commented on #280
Duplicate of https://github.com/NVIDIA-Merlin/models/issues/734 ?

[2022-09-26 20:58] #280 closed

[2022-09-28 17:00] viswa-nvidia commented on #256
Scope is too broad. @jsohn-nvidia  to help with definition of [[RMP] Performant large embedding table support](https://github.com/NVIDIA-Merlin/models/issues/415).

[2022-09-28 17:00] #256 closed

[2022-09-29 07:00] bschifferer commented on #536
@viswa-nvidia @EvenOldridge

We need to add following success criteria :
* Analyze scaling factor by using multiple GPUs: If we go from 1x GPU -> 2x GPUs -> 4x GPUs -> 8 GPUx - how much higher is the throughput?
* Provide performance metrics (accuracy / AUC / etc) to show that there is no negative effect in the model performance
* Provide guidance how to set global batch size, batch size per GPU a

[2022-09-29 09:00] bschifferer commented on #536
I provided an example to show that Merlin Models work with horovods: https://github.com/NVIDIA-Merlin/models/pull/778

However, we need to address the points above + the bug ( https://github.com/NVIDIA-Merlin/models/issues/765 ).

In addition, we should make it more user-friendly.

[2022-09-29 22:13] viswa-nvidia opened #633 "[SCH] Schedule 22.09"

[2022-09-29 22:35] #465 closed

[2022-09-29 22:42] #467 closed

[2022-10-04 16:54] viswa-nvidia commented on #407
@marcromeyn please review definition and add tasks for 22.11 and 22.12 - starting point specifically

[2022-10-04 17:00] viswa-nvidia opened #638 "[RMP] GTC Recommender"

[2022-10-05 16:55] EvenOldridge opened #639 "[Task] Transformers4Rec Serving using Merlin Schema"
- [ ] Remove dependency of Merlin stdlib
- [ ] Saving Merlin input schema when saving the model

[2022-10-05 17:02] EvenOldridge opened #640 "[Task] Update Merlin Schema to include inputs, outputs, other metadata"
Metadata schema updated to include:
- [ ] Input Schema
- [ ] Output Schema
- [ ] Data distributions?
- [ ] Prediction distributions?

[2022-10-05 17:07] nv-alaiacano commented on #640
Meeting notes (not super complete): https://docs.google.com/document/d/1k_QJ063LH0YIJ_wPVzwjFzTQXek0UtXXtmErj_kqrOY/edit#

[2022-10-05 17:29] EvenOldridge opened #641 "[RMP] Reduced Precision Support"

[2022-10-05 17:33] EvenOldridge opened #642 "[RMP] Improve Systems observability w/ Open Telemetry integration (logging, metrics?, traces?)"
## Problem:
Production recommender systems require logging.  Without logging metrics, etc it's hard to know what your recommender is doing and troubleshoot.

## Goal:
Answer questions like:
 - Why did my recommender take x ms to provide recs. (Timing / SLA)
 - Quality of recs is lower, why? (Metric logging)
 - Why recs of a specific user are 'weird'

- Be able to provide probabilities of predictio

[2022-10-05 20:42] karlhigley commented on #640
I don't think this task is about changing the existing schema format; it's more about creating a format for capturing a broader set of metadata (including but not limited to schema information), right?

[2022-10-06 00:47] viswa-nvidia opened #643 "Add lookup for embeddings based on key during dataloading"

[2022-10-06 00:47] viswa-nvidia opened #644 "Add pretrained embedding to the dictionary of tensors"

[2022-10-06 00:47] viswa-nvidia opened #645 "Support aggregation functions used to combine in model item embeddings?"

[2022-10-06 00:47] viswa-nvidia opened #646 "Support for 3d tensors (fixed size of sequence) to support session based in TF4Rec and MM"

[2022-10-06 00:51] viswa-nvidia opened #647 "Evaluate the transforms that happen to an embedding after it's pulled from the embedding table so that pretrained embeddings can be processed in the same way."

[2022-10-06 00:52] viswa-nvidia opened #648 "Add embedding to the recommendation request (from feature store, KV, etc?)"

[2022-10-06 00:54] viswa-nvidia opened #649 "Example of dataloading pretrained embeddings in Transformers4Rec"

[2022-10-06 00:54] viswa-nvidia opened #650 "Example of dataloading pretrained embeddings in Merlin Models"

[2022-10-06 01:04] viswa-nvidia opened #651 "Enable Horovod within the Merlin Models API"

[2022-10-06 01:06] viswa-nvidia commented on #536
Noted. @EvenOldridge , please review and add to the goals. I am not sure if this ticket is fully defined.

[2022-10-06 01:17] viswa-nvidia opened #652 "[RMP][POR] Merlin 22.11"
https://docs.google.com/document/d/1j0h2wutgI7BS2cLmwPXOzJ_AQb6A8d67AV2ERCbEhPU/edit#

[2022-10-06 04:44] kebitmatf opened #654 "[BUG] Error while running "Deploying multi-stage RecSys with Merlin Systems" notebook"
### Bug description

Running your newest update 02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb
at link: [https://github.com/NVIDIA-Merlin/Merlin/blob/main/examples/Building-and-deploying-multi-stage-RecSys/02-Deploying-multi-stage-RecSys-with-Merlin-Systems.ipynb]

response = send_triton_request(request_schema, request, outputs)
response

I got error:
-----------------------------------

[2022-10-06 05:08] edknv commented on #536
I've been doing some experimentation with horovod integration with Models API, based on @bschifferer's example https://github.com/NVIDIA-Merlin/models/pull/778, and I fully agree with his point on all the success criteria he listed above, and also the need for dataloader to produce equal number of batches across partitions, as mentioned in https://github.com/NVIDIA-Merlin/models/issues/765.

Some

[2022-10-06 13:47] nv-alaiacano commented on #654
Thanks for the bug report! It is possible that the examples in the `main` branch become broken between releases. The examples included in any of our [published docker containers](https://catalog.ngc.nvidia.com/orgs/nvidia/teams/merlin/containers/merlin-tensorflow/tags) _should_ be stable.

We released 22.09 just a week or so ago, which should contain much more recent examples than the 22.05 contai

[2022-10-06 21:25] nv-alaiacano commented on #599
closing this for now until it comes back around.

[2022-10-06 21:25] #599 closed

[2022-10-06 22:00] sararb opened #655 "Create example or/and guidelines of how to train transformer-based models with techniques supported in Pytorch trainer class: Early stopping, fp16, lr scheduler, model checkpoints"

[2022-10-06 22:08] sararb commented on #276
This issue is fixed in [#771](https://github.com/NVIDIA-Merlin/models/pull/771) and [#780](https://github.com/NVIDIA-Merlin/models/pull/780)

[2022-10-06 22:10] sararb commented on #276
I moved the task of creating the example to a separate ticket NVIDIA-Merlin/models#791 (expected in 22.11)

[2022-10-07 17:26] nv-alaiacano opened #658 "Add tox build configuration to merlin-models"
The other repos all use `tox` for running tests in cpu (github)/gpu (jenkins) but we didn't get to Merlin. We should bring this up to speed with the other repos so we can depend on consistent tooling.

[2022-10-10 04:52] edknv commented on #651
To modify a vanilla tensorflow/keras training script to use multi-GPUs, one would make the following changes. One potential approach is to hide all of the following details behind the Models API and let Models automatically take care of them for users. That is, a single-GPU training script that uses Merlin without any reference to horovod should be able to run on multiple GPUs, with everything (e.